@import "@/styles/utils/_entry.scss";

$top-panel-height: 60px;
$top-panel-height-mobile: 140px;
$top-panel-margin-bottom: 30px;

.wrap {
  width: 100%;
  height: 100%;
  padding: 0;

  .top-panel {
    display: flex;
    align-items: flex-end;
    height: $top-panel-height;
    margin-bottom: $top-panel-margin-bottom;
    user-select: none;
    @include global-sides-padding;

    .block-flip-with-btns {
      display: flex;
      align-items: center;

      .controls {
        display: flex;

        .btn {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 8px;
          width: 30px;
          height: 30px;
          border-radius: 2px;
          border: 1px solid;
          cursor: pointer;
          transition: .4s;
          @include for-light-theme(border-color, #EAE8EB);
          @include for-dark-theme(border-color,  #2A2B31);
          @include for-light-theme(background-color, #FFF);
          @include for-dark-theme(background-color, #2A2B31);

          &.disabled {
            pointer-events: none;
            opacity: 0.4;
          }

          &:hover {
            @include for-light-theme(border-color, darken(#EAE8EB, 10%));
            @include for-dark-theme(border-color,  lighten(#2A2B31, 10%));
            @include for-light-theme(background-color, #EAE8EB);
            @include for-dark-theme(background-color, lighten(#2A2B31, 10%));
          }

          svg {
            @include for-light-theme(fill, #2A2B31);
            @include for-dark-theme(fill, #FFF);
          }
        }
      }
    }

    .btn-add-event {
      height: 30px;
      margin-left: 40px;
      display: flex;
      align-items: center;
      font-family: var(--font-medium);
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.3px;
      @include for-light-theme(color, #2A2B31);
      @include for-dark-theme(color, $main-active-color-dark-theme);
      cursor: pointer;

      @media (max-width: $events-breakpoint-mobile) {
        display: none;
      }
    }

    .block-flip-with-calendar {
      display: flex;
      margin-left: auto;

      .block-month {
        display: flex;
        align-items: center;
        margin-left: 18px;

        .desc {
          margin-right: 10px;
          font-family: var(--font-bold);
          font-size: 11px;
          font-weight: 700;
          letter-spacing: 0.4px;
          text-transform: uppercase;
          @include for-light-theme(color, #2A2B31);
          @include for-dark-theme(color, #FFF);
        }
      }
    }

    @media (max-width: $global-breakpoint-mobile) {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: $top-panel-height-mobile;

      .block-flip-with-calendar {
        margin-left: 0;

        .block-month {
          margin: 20px 0 0 0;
        }
      }
    }
  }

  .wrap-grid {
    height: calc(100% - #{$top-panel-height} - #{$top-panel-margin-bottom});

    @media (max-width: $global-breakpoint-mobile) {
      height: calc(100% - #{$top-panel-height-mobile} - #{$top-panel-margin-bottom});
    }

    .main-grid-calendar {
      display: grid;
      height: 100%;
      grid-template-columns: 14fr 14fr 14fr 14fr 14fr 15fr 15fr;
      grid-template-rows: 12px 120px 120px 120px 120px 120px 160px;
      padding-bottom: 20px;
      overflow-x: auto;

      @media (max-width: $events-breakpoint-mobile) {
        width: 100%;
      }

      .block-weekday-name,
      .block-weekend-name {
        font-family: var(--font-bold);
        font-size: 11px;
        font-weight: 700;
        letter-spacing: 0.4px;
        text-transform: uppercase;
      }

      .block-weekday-name {
        @include for-light-theme(color, #3D3E43);
        @include for-dark-theme(color, #FFF);
      }

      .block-weekend-name {
        @include for-light-theme(color, #CAC9CA);
        @include for-dark-theme(color, $main-active-color-dark-theme);
      }

      .block-weekday-name,
      .block-weekend-name,
      .block-day {
        width: 100%;
        padding: 0 30px;

        @media (max-width: $events-breakpoint-large) {
          padding: 0 20px;
        }

        @media (max-width: $events-breakpoint-medium) {
          padding: 0 10px;
        }
      }

      .block-day {
        display: flex;
        flex-direction: column;
        min-width: 110px;
        margin-top: 20px;

        &.non-selected {
          opacity: 0.4;
        }

        .heading {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 50px;
          padding: 8px 0px;
          border-top: 2px solid;
          border-bottom: 2px solid #43444B;
          @include for-light-theme(border-top-color, #D8D8D8);
          @include for-dark-theme(border-top-color, #D8D8D8);

          &.day-is-weekend {
            @include for-light-theme(border-top-color, #D8D8D8);
            @include for-dark-theme(border-top-color, $main-active-color-dark-theme);
          }

          .day-num {
            font-size: 26px;
            font-weight: 300;
            letter-spacing: 0.3px;
          }

          .location-name {
            align-self: flex-start;
            @include line-clamp(14px, 2);
            padding-left: 10px;
            color: #85858A;
            font-size: 12px;
            font-weight: 300;
            letter-spacing: 0.3px;
          }
        }

        .content {
          @include line-clamp(14px, 3);
          max-height: 48px;
          padding: 5px 0;
          font-family: var(--font-medium);
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 0.3px;
          text-decoration: none;
          @include for-light-theme(color, #2A2B31);
          @include for-dark-theme(color, #FFF);
          transition: color .4s;

          &:hover {
            color: #85858A;
          }
        }
      }
    }
  }
}
