@import "@/styles/utils/_entry.scss";

.wrap {
  height: 100%;
  min-width: 270px;

  @media (max-width: $dashboard-breakpoint-medium) {
    padding-top: 70px;
  }

  @media (max-width: $dashboard-breakpoint-small) {
    padding-top: 70px;
  }

  @media (max-width: $dashboard-breakpoint-mobile) {
    padding-top: 0 !important;
    height: 175px;
  }

  .block-wallets-proportion {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px 5px 20px;
    border-radius: 2px;
    border: 1px solid;
    @include for-light-theme(border-color, #EAE8EB);
    @include for-dark-theme(border-color, #222429);
    @include for-light-theme(background-color, #FFF);
    @include for-dark-theme(background-color, #222429);
    overflow-y: auto;
    scrollbar-width: thin;

    .item {
      display: flex;
      align-items: center;
      margin-bottom: 7px;

      .pie {
        width: 42px;
        height: 42px;

        .graph {
          :global {
            .ct-series-a > path {
              @include for-light-theme(fill, #4C4D55);
              @include for-dark-theme(fill, #7AC231);
            }

            .ct-series-b > path {
              @include for-light-theme(fill, #EAE8EB);
              @include for-dark-theme(fill, #3A3C43);
            }
          }
        }
      }

      .percentage {
        width: 85px;
        margin-left: 20px;
        font-size: 24px;
        font-weight: 300;
        letter-spacing: 0.3px;
        @include for-light-theme(color, #1D2024);
        @include for-dark-theme(color, #FFF);
      }

      .wallet-name {
        max-width: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 10px;
        color: #606166;
        font-family: var(--font-medium);
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.3px;
      }

      .options {
        margin-left: auto;
        padding: 0 5px;
        @include for-light-theme(fill, #C7C4C8);
        @include for-dark-theme(fill, lighten(#2A2B31, 10%));
        transition: fill .4s;
        cursor: pointer;

        &:hover {
          @include for-light-theme(fill, darken(#C7C4C8, 30%));
          @include for-dark-theme(fill, lighten(#2A2B31, 40%));
        }
      }
    }
  }
}
