@import "@/styles/utils/_entry.scss";

$color-preview-page-text-main: white;
$color-preview-page-text-main-hover: #6C6C6B;
$color-preview-page-text-secondary: #6C6C6B;
$color-preview-page-text-secondary-hover: white;

.background {
  height: inherit;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: 35%;

  &.slide-1 {
    background-image: url('../../../assets/images/preview-slide-1.jpg');
  }

  &.slide-2 {
    background-image: url('../../../assets/images/preview-slide-2.jpg');
  }

  &.slide-3 {
    background-image: url('../../../assets/images/preview-slide-3.jpg');
  }

  &.slide-4 {
    background-image: url('../../../assets/images/preview-slide-4.jpg');
  }

  .page {
    color: $color-preview-page-text-main;

    @media (max-width: $global-breakpoint-mobile - 1) {
      margin-top: 0px;
    }

    .block-secure-solution {
      display: flex;

      @media (max-width: $global-breakpoint-mobile - 1) {
        display: none;
      }

      .left-separator {
        position: absolute;
        background-color: #D8D8D8;
        width: 1000%;
        left: -1000%;
        height: 3px;
        top: 15px;
      }

      .separatorText {
        color: $color-preview-page-text-main;
        font-family: var(--font-regular);
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 0.3px;
        line-height: 27px;
      }
    }

    .block-main-message {
      margin-top: 60px;
      display: flex;

      @media (min-width: $global-breakpoint-medium) {
        flex-direction: row;
      }

      @media (max-width: $global-breakpoint-large - 1) {
        flex-direction: column-reverse;
        align-content: center;
      }

      .block-select-slide {
        display: flex;

        @media (min-width: $global-breakpoint-medium) {
          flex-direction: column;
          padding-top: 20px;
        }

        @media (max-width: $global-breakpoint-large - 1) {
          flex-direction: row;
          justify-content: center;
          padding-top: 40px;
        }

        .item {
          width: 17px;
          height: 18px;
          display: inline-flex;
          margin: 5px;
          padding: 5px;
          border-radius: 50%;
          border: 2px solid transparent;
          cursor: pointer;
          transition: border-color .4s;

          &:hover,
          &.active {
            border-color: #2A2B31;
          }
        }
      }

      .text {
        color: $color-preview-page-text-main;
        font-family: var(--font-light);
        font-size: 45px;
        line-height: 68px;
        font-weight: 300;

        @media (max-width: $global-breakpoint-large - 1) {
          text-align: center;
        }
      }
    }

    .btn-get-free-wallet {
      width: 100%;
      height: 60px;
      background: unset;
      margin-top: 40px;
      border-radius: 2px;
      border: 2px solid $color-preview-page-text-main;
      color: $color-preview-page-text-main;
      font-family: var(--font-regular);
      font-size: 11px;
      font-weight: 400;
      letter-spacing: 0.6px;
      text-transform: uppercase;
      user-select: none;
      transition: .4s;
      cursor: pointer;

      &:hover {
        color: black;
        background: $color-preview-page-text-main;
      }
    }
  }
}
