@import "@/styles/utils/_entry.scss";

.wrap {
  width: 100%;
  height: 100%;
  @include global-sides-padding;

  .top-panel {
    display: flex;
    align-items: center;
    padding: 32px 0 20px;

    .row-overview {
      display: flex;
      cursor: pointer;

      .title {
        margin-right: 12px;
        color: #42434B;
        font-family: var(--font-regular);
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.35px;
        transition: color .4s;
        user-select: none;
      }

      .icon {
        display: flex;
        align-items: flex-end;
        @include for-light-theme(fill, #C7C4C8);
        @include for-dark-theme(fill, #2A2B31);
        transition: fill .4s;
      }

      &:hover {
        .title {
          color: lighten(#42434B, 30%);
        }
        .icon {
          @include for-light-theme(fill, lighten(#C7C4C8, 5%));
          @include for-dark-theme(fill, lighten(#2A2B31, 30%));
        }
      }
    }

    .row-interval {
      display: flex;
      margin-left: auto;

      .block-month {
        display: flex;
        align-items: center;
        margin-left: 18px;

        .desc {
          margin-right: 8px;
          font-family: var(--font-bold);
          font-size: 11px;
          font-weight: 700;
          letter-spacing: 0.4px;
          text-transform: uppercase;
          @include for-light-theme(color, #2A2B31);
          @include for-dark-theme(color, #FFF);
        }

        .position-for-left-calendar {
          left: 0;
        }

        .position-for-right-calendar {
          right: 0;

          @media (max-width: $global-breakpoint-mobile) {
            left: 0;
          }
        }
      }
    }

    .row-grid-look {
      display: flex;
      margin-left: 30px;

      .icon {
        display: flex;
        align-items: center;
        margin-left: 5px;
        @include for-light-theme(fill, #E2E2E2);
        @include for-dark-theme(fill, #404147);
        transition: fill .4s;
        cursor: pointer;

        &.active, &:hover {
          @include for-light-theme(fill, darken(#E2E2E2, 20%));
          @include for-dark-theme(fill, lighten(#404147, 20%));
        }
      }
    }

    @media (max-width: $global-breakpoint-mobile) {
      flex-direction: column;
      align-items: flex-start;

      .row-overview {
        margin-bottom: 20px;
      }

      .row-interval, .row-interval .block-month:first-child {
        margin-left: 0;
      }

      .row-interval {
        flex-direction: column;

        .block-month:first-child {
          margin-bottom: 10px;
        }
      }
    }

    @media (max-width: $transactions-breakpoint-small) {
      .row-grid-look {
        display: none;
      }
    }
  }

  .table-heading {
    display: flex;
    align-items: center;

    .row-total {
      display: flex;
      align-items: baseline;
      font-family: var(--font-regular);
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.3px;
      @include for-light-theme(color, #B3B0B3);
      @include for-dark-theme(color, #42434B);

      .number {
        margin-right: 5px;
        font-size: 34px;
        font-weight: 300;
        @include for-light-theme(color, #2A2B31);
        @include for-dark-theme(color, #FFF);
      }
    }

    .row-controls {
      display: flex;
      margin-left: auto;

      .item {
        margin-left: 15px;
        color: #606166;
        font-family: var(--font-bold);
        font-size: 11px;
        font-weight: 700;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        transition: color .4s;
        cursor: pointer;

        &.active {
          cursor: default;
          pointer-events: none;
        }

        &.active, &:hover {
          @include for-light-theme(color, #A7A4A8);
          @include for-dark-theme(color, #FFF);
        }
      }
    }

    @media (max-width: $global-breakpoint-mobile) {
      flex-direction: column;
      align-items: flex-start;

      .row-total {
        margin-bottom: 20px;
      }

      .row-export-history {
        display: none;
      }

      .row-controls {
        margin-left: 0;
      }
    }
  }

  .grid {
    display: grid;
    margin-top: 15px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    &.look-blocks {
      @media (min-width: $transactions-breakpoint-small) {
        .item {
          grid-template-columns: 3fr 1fr;
          padding: 0 10px 0 15px;

          .grid-block:first-child {
            display: none;
          }

          .token {
            margin-left: 0;

            .text {
              max-width: 200px;
            }
          }
        }
      }

      @media (min-width: $transactions-breakpoint-medium) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @media (min-width: $transactions-breakpoint-medium) and (max-width: $transactions-breakpoint-extra-large - 1) {
        .item {
          height: 100px;
          grid-template-rows: 1fr 1fr;
          grid-template-columns: 1fr;
          padding: 5px 15px;

          .token .text {
            max-width: 100%;
          }

          .amount {
            margin: 0;
          }

          .status {
            margin-left: auto;
          }
        }
      }

      @media (min-width: $transactions-breakpoint-small) and (max-width: $transactions-breakpoint-medium) {
        grid-template-columns: 1fr 1fr;

        .item {
          grid-template-rows: 1fr 1fr;
          grid-template-columns: 1fr;

          .amount {
            margin-left: 0 !important;
          }

          .grid-block:last-child {
            grid-column: 1;
          }
        }
      }
    }

    .item {
      display: grid;
      padding: 0 20px 0 30px;
      width: 100%;
      border-radius: 2px;
      border: 1px solid;
      @include for-light-theme(border-color, #EAE8EB);
      @include for-dark-theme(border-color, $background-color-dark-theme-box-active);
      @include for-light-theme(background-color, #FFF);
      @include for-dark-theme(background-color, $background-color-dark-theme-box-active);

      &.skeleton {
        @include for-light-theme(background-color, $background-color-light-theme-box-active);
        @include for-dark-theme(background-color, $background-color-dark-theme-box-active);
      }

      @media (min-width: $transactions-breakpoint-medium) {
        grid-template-columns: 220px 3fr 1fr;
        height: 80px;
      }

      @media (min-width: $transactions-breakpoint-small) and (max-width: $transactions-breakpoint-medium) {
        grid-template-columns: 220px 1fr;
        grid-template-rows: auto auto;
        height: 90px;

        .grid-block:first-child {
          grid-row: 1 / 3;
        }

        .grid-block:last-child {
          grid-column: 2;
          grid-row: 2;

          .amount {
            margin-left: 10%;
          }

          .status {
            margin-left: auto;
          }
        }
      }

      @media (max-width: $transactions-breakpoint-small - 1) {
        grid-template-columns: 1fr;
        height: 180px;

        .grid-block:nth-child(2) {
          .token {
            margin: 0;
          }
        }

        .grid-block:last-child {
          .amount {
            margin: 0;
          }

          .status {
            margin-left: auto;
          }
        }
      }

      .grid-block {
        display: flex;
        align-items: center;

        &:last-child {
          @media (max-width: $global-breakpoint-mobile) {
            flex-direction: column;
            align-items: flex-start;

            .amount, .status {
              margin: 10px 0 0 0;
            }
          }
        }
      }

      .overview-icon {
        display: flex;

        svg {
          fill: #45464C;
        }
      }

      .date {
        margin-left: 40px;
        font-family: var(--font-regular);
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.4px;
        text-decoration: none;
        @include for-light-theme(color, #A7A4A8);
        @include for-dark-theme(color, #FFF);
      }

      .wallet-type-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        width: 35px;
        height: 35px;
        border-radius: 2px;
        border: 1px solid;
        @include for-light-theme(border-color, #EAE8EB);
        @include for-dark-theme(border-color, #4C4D55);
        @include for-light-theme(background-color, #FFF);
        @include for-dark-theme(background-color, #4C4D55);
        @include for-light-theme(fill, #3A3C43);
        @include for-dark-theme(fill, #FFF);
      }

      .token {
        display: flex;
        margin-left: 10%;

        .text {
          font-family: var(--font-regular);
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0.4px;
          text-decoration: none;
          @include for-light-theme(color, #4C4D55);
          @include for-dark-theme(color, #FFF);
          max-width: 300px;
          overflow: hidden;
          text-overflow: ellipsis;

          @media (max-width: $global-breakpoint-mobile) {
            max-width: 180px;
          }
        }

        .icon {
          display: flex;
          align-items: center;
          margin-right: 10px;

          &.red svg {
            @include for-light-theme(fill, darken(#D0021B, 10%));
            @include for-dark-theme(fill, #D0021B);
          }

          &.blue svg {
            @include for-light-theme(fill, darken(#457B9D, 10%));
            @include for-dark-theme(fill, #457B9D);
          }

          &.green svg {
            @include for-light-theme(fill, darken(#7AC231, 10%));
            @include for-dark-theme(fill, #7AC231);
          }

          svg {
            width: 16px;
            height: 12px;
          }
        }
      }

      .amount {
        display: flex;
        margin: 0 30px 0 auto;
        font-family: var(--font-bold);
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        @include for-light-theme(color, #2A2B31);
        @include for-dark-theme(color, #FFF);

        .number {
          max-width: 120px;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .coin-name {
          margin-left: 8px;
          font-family: var(--font-regular);
          font-weight: 400;
          letter-spacing: 0.75px;
        }
      }

      .status {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 36px;
        border-radius: 2px;
        border: 1px solid #eae8eb;
        color: #1d2024;
        font-family: var(--font-medium);
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.3px;
        transition: background-color .4s;
        cursor: pointer;

        &.completed {
          @include for-light-theme(color, #1D2024);
          @include for-dark-theme(color, #FFF);
          @include for-light-theme(background-color, #FFF);
          @include for-dark-theme(background-color, $main-active-color-dark-theme);
          @include for-light-theme(border-color, #EAE8EB);
          @include for-dark-theme(border-color, $main-active-color-dark-theme);

          svg {
            @include for-light-theme(fill, #CAC9CA);
            @include for-dark-theme(fill, #FFF);
          }

          &:hover {
            @include for-light-theme(background-color, darken(#FFF, 10%));
            @include for-dark-theme(background-color, darken($main-active-color-dark-theme, 10%));
          }
        }

        &.pending, &.rejected {
          color: #78797E;
          @include for-light-theme(background-color, #FFF);
          @include for-dark-theme(background-color, #4C4D55);
          @include for-light-theme(border-color, #EAE8EB);
          @include for-dark-theme(border-color, #4C4D55);

          svg {
            @include for-light-theme(fill, #CAC9CA);
            @include for-dark-theme(fill, #6D6E74);
          }

          &:hover {
            @include for-light-theme(background-color, darken(#FFF, 10%));
            @include for-dark-theme(background-color, darken(#4C4D55, 10%));
          }
        }

        .icon {
          display: flex;
          margin-left: 10px;
        }

        .dropdown {
          position: absolute;
          top: 35px;
          width: inherit;
          padding: 8px;
          color: #FFF;
          background: lighten(#4C4D55, 15%);
          font-family: var(--font-regular);
          font-size: 12px;
          letter-spacing: 0.4px;
        }
      }
    }
  }

  .wrap-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    @include global-bottom-padding;
  }
}
