@import "@/styles/utils/_entry.scss";

.grid {
  display: grid;

  &.look-blocks {
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    @media (min-width: $wallets-breakpoint-medium + 1) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (min-width: $wallets-breakpoint-small + 1) and (max-width: $wallets-breakpoint-medium) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: $wallets-breakpoint-small) {
      grid-template-columns: 1fr;
    }
  }

  &.look-rows {
    grid-template-columns: 1fr;

    .item {
      margin-bottom: 20px;
    }
  }

  .item {
    height: 350px;
    border-radius: 2px;
    border: 1px solid;
    @include for-light-theme(border-color, #EAE8EB);
    @include for-dark-theme(border-color, #1D2024);
    @include for-light-theme(background-color, #FFF);
    @include for-dark-theme(background-color, #1D2024);

    &.skeleton {
      @include for-light-theme(background-color, $background-color-light-theme-box-active);
      @include for-dark-theme(background-color, $background-color-dark-theme-box-active);
    }

    &.add-wallet {
      border: 2px dashed;
      background-color: inherit;
      @include for-light-theme(border-color, #EDECEC);
      @include for-dark-theme(border-color, #2A2B31);
      transition: border-color .4s;
      cursor: pointer;

      &:hover, &.opened {
        @include for-light-theme(border-color, darken(#EDECEC, 20%));
        @include for-dark-theme(border-color, lighten(#2A2B31, 20%));
      }
    }

    .heading {
      display: flex;
      align-items: center;
      padding: 15px 15px 5px 20px;

      .wallet-type-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        border-radius: 2px;
        border-style: solid;
        @include for-light-theme(border-width, 1px);
        @include for-dark-theme(border-width, 0px);
        @include for-light-theme(border-color, #EAE8EB);
        @include for-dark-theme(border-color, #3A3C43);
        @include for-light-theme(background-color, #FFF);
        @include for-dark-theme(background-color, #3A3C43);
        @include for-light-theme(fill, #3A3C43);
        @include for-dark-theme(fill, #FFF);
        transition: .4s;

        img {
          width: 27px;
        }
      }

      .wallet-coin-name {
        margin-left: 10px;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 0.25px;
        @include for-light-theme(color, #1D2024);
        @include for-dark-theme(color, #FFF);
      }

      .block-value {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: auto;

        .wallet-coin-id {
          font-family: var(--font-bold);
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 0.3px;
          @include for-light-theme(color, #CAC9CA);
          @include for-dark-theme(color, #3A3C43);
        }

        .wallet-value {
          font-size: 35px;
          font-weight: 300;
          letter-spacing: 0.35px;
          @include for-light-theme(color, #1B1D22);
          @include for-dark-theme(color, #FFF);
        }
      }
    }

    .wrap-graph {
      height: 200px;

      :global {
        .ct-point {
          stroke-width: 6px;
          @include for-light-theme(stroke, #67686E);
          @include for-dark-theme(stroke, inherit);
        }

        .ct-line {
          stroke-width: 2px;
          @include for-light-theme(stroke, #67686E);
          @include for-dark-theme(stroke, inherit);
        }

        .ct-label {
          @include for-dark-theme(color, gray);
        }

        .ct-grid {
          @include for-dark-theme(stroke, gray);
        }
      }
    }

    .wrap-block-last-transaction {
      margin-top: -25px;
      padding: 15px 15px 5px 20px;
      height: 70px;

      .block-last-transaction {
        padding: 12px 20px 12px 12px;
        @include for-light-theme(background-color, $background-color-light-theme-box-active);
        @include for-dark-theme(background-color, $background-color-dark-theme-box-active);

        .date-and-effect {
          display: flex;

          .date, .effect {
            font-family: var(--font-regular);
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.3px;
            @include for-light-theme(color, #A7A4A8);
            @include for-dark-theme(color, #FFF);
          }

          .effect {
            margin-left: auto;
          }
        }

        .token {
          margin-top: 10px;
          font-family: var(--font-regular);
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0.3px;
          @include for-light-theme(color, #42434B);
          @include for-dark-theme(color, lighten(#42434B, 15%));
        }
      }
    }
  }
}

.wrap-pagination {
  @include global-bottom-padding;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
