@import "@/styles/utils/_entry.scss";

@mixin text-style {
  font-family: var(--font-regular);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.3px;
  @include for-light-theme(color, #43444B);
  @include for-dark-theme(color, #FFF);
}

.wrap {
  position: relative;
  @include text-style;

  .preview {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    height: 30px;
    width: 120px;
    border-radius: 2px;
    @include for-light-theme(background-color, #F1F1F1);
    @include for-dark-theme(background-color, #2A2B31);
    cursor: pointer;
  }

  .select-box {
    position: absolute;
    z-index: $z-index-select;
    width: 100%;
    @include for-light-theme(background-color, darken(#F1F1F1, 5%));
    @include for-dark-theme(background-color, lighten(#2A2B31, 5%));

    .select-year {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      font-size: 16px;

      .chevron {
        @include for-light-theme(fill, #000);
        @include for-dark-theme(fill, #FFF);
        transition: fill .4s;
        cursor: pointer;

        &:hover {
          @include for-light-theme(fill, lighten(#000, 20%));
          @include for-dark-theme(fill, darken(#FFF, 20%));
        }
      }
    }

    .select-month {
      .item {
        display: flex;
        justify-content: center;
        padding: 5px 10px;
        transition: background-color .4s;
        cursor: pointer;

        &:hover, &.active {
          @include for-light-theme(background-color, darken(#F1F1F1, 15%));
          @include for-dark-theme(background-color, lighten(#2A2B31, 15%));
        }
      }
    }
  }
}
