@import "@/styles/utils/_entry.scss";

.wrap {
  display: flex;
  @include global-sides-padding;
  @include global-bottom-padding;

  > div {
    padding-top: 45px;
  }

  @media (max-width: $calculator-breakpoint-small) {
    flex-direction: column;
  }
}
