@import "@/styles/utils/_entry.scss";

.wrap {
  width: 100%;
  height: 100%;
  position: relative;

  .wrap-spinner {
    position: absolute;
    z-index: $z-index-common + 1;
    height: 64px;
    width: 64px;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
  }

  .pending-wrapper {
    height: 100%;
    opacity: 0.4;
    pointer-events: none;
    transition: opacity .4s;
  }

  .fill {
    width: 100%;
    height: 100%;
  }
}
