@import "@/styles/utils/_entry.scss";

.block-main-menu {
  display: flex;
  height: 35px;
  z-index: $z-index-header-menu-dropdown;

  .dropdown-btn {
    display: flex;
    border-radius: 2px;
    transition: background-color .4s;
    cursor: pointer;

    &:hover,
    &.opened {
      @include for-light-theme(background-color, #EAE8EB);
      @include for-dark-theme(background-color, lighten(#3F4048, 10%));

      svg {
        @include for-light-theme(fill, black);
        @include for-dark-theme(fill, white);
      }
    }

    .menu-icon {
      display: flex;
      align-items: center;
      padding: 0 10px;
      border-radius: 2px 2px 0 0;
      transition: background-color .4s;
      cursor: pointer;

      svg {
        fill: #3F4048;
        transition: fill .4s;
      }
    }

    .user-name {
      display: flex;
      align-items: center;
      margin: 0 10px;
      font-family: var(--font-bold);
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.5px;
      @include for-light-theme(color, #2A2B31);
      @include for-dark-theme(color, #FFF);

      div {
        max-width: 105px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .user-image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      border-radius: 2px;
      border: 1px solid;
      @include for-light-theme(border-color, #EFF0F6);
      @include for-dark-theme(border-color, #2A2B31);
      @include for-light-theme(background-color, #FFF);
      @include for-dark-theme(background-color, #2A2B31);

      svg {
        fill: #43444b !important;
      }

      img {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  .dropdown-menu {
    list-style: none;
    padding: 0;

    .item {
      display: flex;
      align-items: center;
      padding-left: 10px;
      height: 30px;
      color: #71727A;
      font-family: var(--font-regular);
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 0.3px;
      transition: .4s;
      cursor: pointer;
      @include for-light-theme(background-color, #EAE8EB);
      @include for-dark-theme(background-color, #3F4048);

      &:hover {
        @include for-light-theme(background-color, darken(#EAE8EB, 10%));
        @include for-dark-theme(background-color, lighten(#3F4048, 10%));
        @include for-light-theme(color, black);
        @include for-dark-theme(color, white);
      }
    }
  }
}
