@import "@/styles/utils/_entry.scss";

.block-transactions {
  height: calc(100% - 70px);
  display: flex;
  flex-direction: column;
  padding: 25px 18px 10px 18px;
  margin: 70px 0 20px 0;
  border-radius: 2px;
  border: 1px solid;
  @include for-light-theme(border-color, #EFF0F6);
  @include for-dark-theme(border-color, $background-color-dark-theme-box);
  @include for-light-theme(background-color, $background-color-light-theme-box-active);
  @include for-dark-theme(background-color, $background-color-dark-theme-box);

  @media (max-width: $dashboard-breakpoint-small) {
    height: 100%;
    margin: 0;
  }

  @media (max-width: $dashboard-breakpoint-mobile) {
    height: 480px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    user-select: none;

    .title {
      font-family: var(--font-regular);
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.3px;
      @include for-light-theme(color, #2A2B31);
      @include for-dark-theme(color, #FFF);
    }

    .controls {
      display: flex;
      transition: opacity .4s;

      &.pending {
        pointer-events: none;
        opacity: 0.4;
      }

      .item {
        display: flex;
        margin-left: 10px;
        color: #606166;
        font-family: var(--font-bold);
        font-size: 11px;
        font-weight: 700;
        letter-spacing: 0.4px;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        transition: color .4s;
        cursor: pointer;

        &.active,
        &:hover {
          @include for-light-theme(color, #A7A4A8);
          @include for-dark-theme(color, #FFF);
        }

        &.active {
          cursor: default;
          pointer-events: none;
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    flex: auto;

    .item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 72px;
      width: 100%;
      @include for-light-theme(background-color, $background-color-light-theme-box);
      @include for-dark-theme(background-color, $background-color-dark-theme-box-active);
      padding: 15px 20px 12px 16px;
      margin-bottom: 8px;

      &.skeleton {
        @include for-light-theme(background-color, $background-color-light-theme-box);
        @include for-dark-theme(background-color, $background-color-dark-theme-box-active);
      }

      .top-panel {
        display: flex;
        justify-content: space-between;

        .date {
          font-family: var(--font-regular);
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 0.25px;
          text-decoration: none;
          @include for-light-theme(color, #2A2B31);
          @include for-dark-theme(color, #FFF);
          transition: color .4s;
          cursor: pointer;

          &:hover {
            @include for-light-theme(color, lighten(#2A2B31, 40%));
            @include for-dark-theme(color, darken(#FFF, 40%));
          }
        }

        .info {
          display: flex;
          @include for-light-theme(color, #A7A4A8);
          @include for-dark-theme(color, #FEFEFE);
          font-family: var(--font-regular);
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 0.3px;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: end;

          .icon {
            margin-right: 5px;

            &.red {
              @include for-light-theme(fill, darken(#D0021B, 10%));
              @include for-dark-theme(fill, #D0021B);
            }

            &.blue {
              @include for-light-theme(fill, darken(#457B9D, 10%));
              @include for-dark-theme(fill, #457B9D);
            }

            &.green {
              @include for-light-theme(fill, darken(#7AC231, 10%));
              @include for-dark-theme(fill, #7AC231);
            }
          }
        }
      }

      .bottom-panel {
        overflow: hidden;
        text-overflow: ellipsis;
        @include for-light-theme(color, #4A4A4A);
        @include for-dark-theme(color, #42434B);
        font-family: var(--font-regular);
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 0.3px;
        max-width: 180px;
      }
    }
  }
}
