@import "@/styles/utils/_entry.scss";

.grid {
  display: grid;

  &.look-blocks {
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    @media (min-width: $markets-breakpoint-medium + 1) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @media (min-width: $markets-breakpoint-small + 1) and (max-width: $markets-breakpoint-medium) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: $markets-breakpoint-small) {
      grid-template-columns: 1fr;
    }
  }

  &.look-rows {
    grid-template-columns: 1fr;

    .item {
      margin-bottom: 20px;
    }
  }

  .item {
    height: 300px;
    border-radius: 2px;
    border: 1px solid;
    @include for-light-theme(border-color, #EAE8EB);
    @include for-dark-theme(border-color, $background-color-dark-theme-box-active);
    @include for-light-theme(background-color, #FFF);
    @include for-dark-theme(background-color, $background-color-dark-theme-box-active);
    transition: background-color .4s;
    cursor: pointer;

    &.skeleton {
      @include for-light-theme(background-color, $background-color-light-theme-box-active);
      @include for-dark-theme(background-color, $background-color-dark-theme-box-active);
      cursor: default;
    }

    &:not(.skeleton):hover {
      @include for-light-theme(background-color, darken(#FFF, 10%));
      @include for-dark-theme(background-color, lighten($background-color-dark-theme-box-active, 10%));
    }

    &.extended {
      height: 320px;
    }

    .heading {
      display: flex;
      align-items: center;
      padding: 20px 25px;

      .coin-names {
        color: #4C4D55;
        font-family: var(--font-bold);
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.3px;
        text-transform: uppercase;
      }

      .last-value {
        display: flex;
        margin-left: auto;
        font-family: var(--font-bold);
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        @include for-light-theme(color, #4C4D55);
        @include for-dark-theme(color, #FFF);

        .currency {
          margin-left: 5px;
          font-family: var(--font-regular);
          font-weight: 400;
        }
      }
    }

    .footer {
      display: flex;
      padding: 0px 25px;
      flex-direction: column;

      .grid-label {
        color: #606166;
        font-family: var(--font-medium);
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.3px;
        margin-bottom: 5px;
      }

      .block-data {
        display: flex;
        width: 100%;
        align-items: center;

        .volume {
          color: #606166;
          font-family: var(--font-medium);
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.3px;

          .value {
            @include for-light-theme(color, #CAC9CA);
            @include for-dark-theme(color, #FFF);
          }
        }

        .percentage-growth {
          margin-left: auto;
          color: #2A2B31;
          font-family: var(--font-bold);
          font-size: 14px;
          font-weight: 700;
          letter-spacing: 0.45px;

          &.negative {
            @include for-light-theme(color, #626267);
            @include for-dark-theme(color, #D0021B);
          }

          &.positive {
            @include for-light-theme(color, #2A2B31);
            @include for-dark-theme(color, $main-active-color-dark-theme);
          }

          &.neutral {
            @include for-light-theme(color, #2A2B31);
            @include for-dark-theme(color, #FFF);
          }
        }
      }

      @media (max-width: $global-breakpoint-mobile) {
        margin-top: -10px;

        .block-data {
          flex-direction: column;
          align-items: flex-start;

          .percentage-growth {
            margin-left: 0;
            margin-top: 5px;
          }
        }
      }
    }

    .wrap-graph {
      height: 200px;
      overflow: hidden;

      :global {
        .ct-line {
          stroke-width: 2px;
        }

        .ct-label {
          @include for-dark-theme(color, gray);
        }

        .ct-grid {
          @include for-dark-theme(stroke, gray);
        }
      }

      &.neutral {
        :global {
          .ct-line {
            @include for-light-theme(stroke, #2C2D33);
            @include for-dark-theme(stroke, #FFF);
          }
        }
      }

      &.positive {
        :global {
          .ct-line {
            @include for-light-theme(stroke, #2C2D33);
            @include for-dark-theme(stroke, $main-active-color-dark-theme);
          }
        }
      }

      &.negative {
        :global {
          .ct-line {
            @include for-light-theme(stroke, #CAC9CA);
            @include for-dark-theme(stroke, #C11E0F);
          }
        }
      }
    }
  }
}

.wrap-pagination {
  @include global-bottom-padding;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
