@import "@/styles/utils/_entry.scss";

.wrap, .wrap-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include for-light-theme(color, #A9A6AA);
  @include for-dark-theme(color, lighten(#2A2B31, 15%));
}

.wrap {
  align-items: center;
  user-select: none;

  .plus {
    font-size: 90px;
    line-height: 60px;
  }

  .text {
    margin-top: 25px;
    font-family: var(--font-regular);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3px;
  }
}

.wrap-form {
  padding: 20px 30px;

  .field-input > label,
  .field-select > label,
  .title {
    font-family: var(--font-regular);
    font-weight: 400;
    letter-spacing: .3px;
    font-size: 12px;
    @include for-light-theme(color, #2C2D33);
    @include for-dark-theme(color, #CBCACB);
  }

  .title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .field-input > input {
    width: 100%;
    margin-top: 5px;
  }

  .field-select {
    display: flex;
    flex-direction: column;
    margin-top: 15px;

    > div {
      height: 40px;
      margin-top: 5px;
      @include for-light-theme(color, #2C2D33);
      @include for-dark-theme(color, #FFF);
    }
  }

  .wrap-selects {
    display: flex;
    margin-bottom: 20px;

    > div:nth-child(1) {
      flex: 0.4;
    }

    > div:nth-child(2) {
      flex: 0.6;
      margin-left: 10px;
    }
  }

  .submit-btn {
    height: 45px;
    padding: 0;
    @include for-light-theme(background-color, #000);
    @include for-dark-theme(background-color, #FFF);
    @include for-light-theme(color, #FFF);
    @include for-dark-theme(color, #000);

    > svg > circle {
      @include for-light-theme(stroke, #FFF);
      @include for-dark-theme(stroke, #000);
    }

    &:disabled {
      cursor: not-allowed;
    }
  }
}
