@import "@/styles/utils/_entry.scss";

@mixin text-style {
  font-family: var(--font-regular);
  font-weight: 400;
  letter-spacing: 0.3px;
}

.wrap {
  @media (min-width: $settings-breakpoint-medium) {
    .top-row {
      flex-direction: row;
      height: 85px;

      .field-picture,
      .field-password {
        width: 50%;
      }

      .field-picture {
        padding-right: 20px;
      }

      .field-password {
        padding-left: 20px;
      }
    }
  }

  @media (max-width: $settings-breakpoint-medium) {
    .top-row {
      flex-direction: column;
      height: auto;

      .field-picture,
      .field-password {
        width: 100%;
        padding: 0;
      }

      .field-picture {
        margin-bottom: 20px;
      }
    }
  }

  @media (min-width: $settings-breakpoint-small) {
    .default-row {
      .field-row {
        flex-direction: row;
        align-items: center;

        .desc, .single-input, .two-inputs, .birthday-selects {
          width: 50%;
        }
      }
    }

    .default-row > .field-row > .desc {
      padding-right: 20px;
    }

    .default-row > .field-row > .single-input,
    .default-row > .field-row > .two-inputs,
    .default-row > .field-row > .birthday-selects {
      padding-left: 20px;
    }
  }

  @media (max-width: $settings-breakpoint-small) {
    .default-row {
      .field-row {
        flex-direction: column;
        align-items: flex-start;

        .desc {
          margin-bottom: 20px;
        }

        .single-input, .two-inputs, .birthday-selects {
          width: 100%;
          padding: 0;
        }
      }

      .control {
        width: 100%;

        > button {
          width: 100%;
        }
      }
    }
  }

  @media (min-width: $global-breakpoint-mobile) {
    .top-row {
      .field-picture {
        .wrap-picture-desc {
          flex-direction: row;
          align-items: center;

          .upload {
            margin-left: auto;
          }
        }
      }

      .field-password {
        flex-direction: row;
        align-items: center;

        .btn-change-password {
          margin-left: auto;
        }
      }
    }

    .default-row {
      .two-inputs {
        .wrap-inputs {
          flex-direction: row;

          div {
            max-width: 50%;
            flex: 0.5;

            input {
              width: 100%;
            }

            &:first-child {
              margin-right: 20px;
            }
          }
        }
      }

      .field-row {
        .birthday-selects {
          .row-selects {
            .select-box:nth-child(2) {
              margin-left: 20px;
            }

            .select-box:nth-child(3) {
              margin-left: 20px;
            }
          }
        }
      }
    }
  }

  @media (max-width: $global-breakpoint-mobile) {
    .top-row {
      .field-picture {
        align-items: center;

        .wrap-picture-desc {
          flex-direction: column;
          align-items: flex-start;

          .upload {
            margin: 10px 0 0 30px;
          }
        }
      }

      .field-password {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 50px;

        .btn-change-password {
          margin-top: 20px;
        }
      }
    }

    .default-row {
      .two-inputs {
        .wrap-inputs {
          flex-direction: column;

          div {
            max-width: 100%;
            flex: 1;

            input {
              width: 100%;
            }

            &:first-child {
              margin-bottom: 20px;
            }
          }
        }
      }

      .field-row {
        .birthday-selects {
          .row-selects {
            .select-box:nth-child(2) {
              margin-left: 10px;
            }

            .select-box:nth-child(3) {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}

.wrap {
  width: 100%;
  height: 100%;

  .top-row {
    display: flex;
    width: 100%;

    .field-picture,
    .field-password {
      display: flex;
    }

    .field-picture {
      .request-sub-wrapper {
        display: flex;
        align-items: center;
      }

      .user-image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 85px;
        width: 85px;
        @include for-light-theme(background-color, #F1F1F1);
        @include for-dark-theme(background-color, #2A2B31);

        img {
          width: 100%;
          height: 100%;
        }

        svg {
          width: 33px;
          height: 33px;
          @include for-light-theme(fill, #CAC9CA);
          @include for-dark-theme(fill, #43444B);
        }
      }

      .wrap-picture-desc {
        display: flex;
        width: calc(100% - 85px);
        height: 100%;

        .desc {
          margin-left: 30px;

          .title {
            margin-bottom: 10px;
            @include text-style;
            font-size: 16px;
            @include for-light-theme(color, #2A2B31);
            @include for-dark-theme(color, #FFF);
          }

          .restrict {
            @include text-style;
            font-size: 12px;
            color: #85858A;
          }
        }

        .upload {
          border-radius: 2px;
          border: 2px solid;
          @include for-light-theme(border-color, #EAE8EB);
          @include for-dark-theme(border-color, #43444B);

          label {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 36px;
            width: 100px;
            @include text-style;
            font-size: 12px;
            user-select: none;
            @include for-light-theme(color, #2A2B31);
            @include for-dark-theme(color, #FFF);
            @include for-light-theme(background-color, $color-light-theme-main-background);
            @include for-dark-theme(background-color, $color-dark-theme-main-background);
            transition: background-color .4s;
            cursor: pointer;

            svg {
              margin-right: 15px;
              width: 14px;
              height: 18px;
              fill: #606166;
            }

            &:hover {
              @include for-light-theme(background-color, darken($color-light-theme-main-background, 10%));
              @include for-dark-theme(background-color, lighten($color-dark-theme-main-background, 10%));
            }
          }

          input {
            display: none;
          }
        }
      }
    }

    .field-password {
      .desc {
        .title {
          margin-bottom: 10px;
          @include text-style;
          font-size: 16px;
          @include for-light-theme(color, #2A2B31);
          @include for-dark-theme(color, #FFF);
        }

        .additional-info {
          color: #85858A;
          @include text-style;
          font-size: 12px;
          white-space: pre;

          .active {
            text-decoration: none;
            @include for-light-theme(color, $main-active-color-light-theme);
            @include for-dark-theme(color, $main-active-color-dark-theme);
            cursor: pointer;
          }
        }
      }
    }
  }

  .default-row {
    display: flex;
    flex-direction: column;
    margin-top: 55px;

    .field-row {
      width: 100%;
      display: flex;
      margin-top: 20px;

      .error {
        margin-left: 10px;
        font-size: 13px;
        color: red;
      }

      .desc {
        .title {
          @include for-light-theme(color, #18191D);
          @include for-dark-theme(color, #FFF);
        }

        .title {
          @include text-style;
          font-size: 16px;
        }

        .additional-info {
          margin-top: 8px;
          color: #85858A;
          @include text-style;
          font-size: 12px;
        }
      }

      .single-input > input {
        width: 100%;
        margin-left: auto;
      }

      .two-inputs {
        .wrap-inputs {
          display: flex;
          padding-top: 10px;
        }
      }

      .two-inputs, .birthday-selects {
        label {
          @include text-style;
          font-size: 12px;
          @include for-light-theme(color, #CBCACB);
          @include for-dark-theme(color, #FFF);
        }
      }

      .birthday-selects {
        .row-selects {
          display: flex;
          margin-top: 10px;

          .select-box {
            height: 40px;
            border-radius: 2px;
            @include for-light-theme(background-color, $background-color-light-theme-box-active);
            @include for-dark-theme(background-color, $background-color-dark-theme-box-active);
            background-color: #F1F1F1;

            .selected-item {
              padding-left: 15px;
              @include text-style;
              font-size: 13px;
              text-transform: capitalize;
            }
          }

          .select-box > .selected-item, .item {
            padding: 5px 15px;
            @include text-style;
            font-size: 13px;
            text-transform: capitalize;
          }

          .item {
            transition: .4s;
            cursor: pointer;

            &:hover {
              @include for-light-theme(background-color, darken($background-color-light-theme-box-active, 10%));
              @include for-dark-theme(background-color, lighten($background-color-dark-theme-box-active, 10%));
            }
          }

          .select-box:nth-child(1) {
            flex: 0.5;
          }

          .select-box:nth-child(2) {
            flex: 0.25;
          }

          .select-box:nth-child(3) {
            flex: 0.25;
          }
        }
      }
    }

    .control {
      display: flex;
      margin: 25px 0 0 auto;

      @media (max-width: $settings-breakpoint-small) {
        flex-direction: column;
      }

      &.disabled {
        cursor: not-allowed;

        .btn-nick-name,
        .btn-personal-detail {
          pointer-events: none;
        }
      }

      .reset-btn,
      .btn-nick-name {
        display: flex;
        padding: 0;
        height: 36px;
        width: 90px;
        justify-content: center;
        align-items: center;
        @include for-dark-theme(background-color, #FFF);
        @include for-dark-theme(color, #000);

        &:hover {
          @include for-dark-theme(background-color, darken(#FFF, 25%));
        }

        @media (min-width: $settings-breakpoint-small) {
          margin-left: 15px;
        }

        @media (max-width: $settings-breakpoint-small) {
          margin-bottom: 15px;
          width: 100%;
        }
      }

      .btn-personal-detail {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 36px;
        padding: 0;
        @include for-light-theme(background-color, #000);
        @include for-dark-theme(background-color, $main-active-color-dark-theme);
        @include for-light-theme(color, #FFF !important);

        svg circle {
          stroke: #FFF;
        }

        @media (min-width: $settings-breakpoint-small) {
          width: 90px;
          margin-left: 15px;
        }

        @media (max-width: $settings-breakpoint-small) {
          width: 100%;
        }

        &:hover {
          @include for-light-theme(background-color, lighten(#000, 25%));
          @include for-dark-theme(background-color, darken($main-active-color-dark-theme, 25%));
        }
      }
    }
  }
}

.password-modal {
  .password-field-row {
    margin-bottom: 20px;
    @include text-style;
    font-size: 14px;

    .desc {
      margin-bottom: 5px;
      color: #85858A;

      .error {
        margin-left: 10px;
        font-size: 13px;
        color: red;
      }
    }

    .password-input input {
      width: 100%;
    }
  }

  .control {
    display: flex;
    justify-content: flex-end;

    .btn-password {
      display: flex;
      padding: 0;
      height: 36px;
      width: 90px;
      justify-content: center;
      align-items: center;
      @include for-light-theme(color, #FFF);
      @include for-dark-theme(color, #000);
      @include for-light-theme(background-color, #000);
      @include for-dark-theme(background-color, #FFF);
    }

    svg circle {
      @include for-light-theme(stroke, #FFF);
      @include for-dark-theme(stroke, #000);
    }

    &.disabled {
      cursor: not-allowed;

      .btn-password {
        pointer-events: none;
      }
    }
  }
}
