@import "@/styles/utils/_entry.scss";

$color-notification-info: #457B9D;
$color-notification-error: #BA1B1D;
$color-notification-success: #3D9955;
$color-notification-text: #F7F4F3;
$color-notification-text-hover: #564D4A;

@keyframes disappearance {
  0% { opacity: 1 }
  100% { opacity: 0.4 }
}

.wrap {
  position: absolute;
  z-index: $z-index-notifications;

  .notification {
    display: flex;
    padding: 10px;
    margin-bottom: 15px;
    min-height: 40px;
    max-height: 120px;
    border-radius: 5px;
    overflow: hidden;

    animation: disappearance ease-in forwards;
    &:hover {
      animation-play-state: paused;
      animation: step-start;
    }

    &.error {
      background: $color-notification-error;
    }

    &.success {
      background: $color-notification-success;
    }

    &.info {
      background: $color-notification-info;
    }

    .block-msg {
      display: flex;
      align-items: center;

      .text {
        @include line-clamp(18px, 5);
        max-height: 100%;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 1px;
        color: $color-notification-text;
      }
    }

    .block-close {
      display: flex;
      align-items: flex-start;
      margin-left: auto;

      .icon {
        display: flex;
        align-items: center;
        cursor: pointer;

        > svg {
          fill: $color-notification-text;
          transition: fill .4s;

          &:hover {
            fill: $color-notification-text-hover;
          }
        }
      }
    }
  }
}
