@import "@/styles/utils/_entry.scss";

.wrap-grid {
  display: grid;
  grid-template-columns: 24fr 24fr 7fr 21fr 24fr;
  grid-template-rows: 170px 165px 170px 260px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  @include global-sides-padding;
  @include global-bottom-padding;

  .grid-part-block-balance {
    grid-column: 1;
    grid-row: 1 / 3;
  }

  .grid-part-block-wallets {
    grid-column: 2 / 5;
    grid-row: 1;

    width: 100%;
    overflow: hidden;
  }

  .grid-part-block-wallets-proportion {
    grid-column: 2;
    grid-row: 2;
  }

  .grid-part-block-make-transaction {
    grid-column: 3 / 5;
    grid-row: 2;
  }

  .grid-part-block-chart {
    grid-column: 1 / 4;
    grid-row: 3 / 5;
  }

  .grid-part-block-markets {
    grid-column: 4;
    grid-row: 3 / 5;
  }

  .grid-part-block-transactions {
    grid-column: 5;
    grid-row: 1 / 4;
  }

  .grid-part-block-upcoming-events {
    grid-column: 5;
    grid-row: 4;
  }

  @media (max-width: $dashboard-breakpoint-medium) {
    display: grid;
    grid-template-columns: 33fr 35fr 32fr;
    grid-template-rows: 170px 165px 170px 150px 260px 450px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    .grid-part-block-balance {
      grid-column: 1;
      grid-row: 1 / 3;
    }

    .grid-part-block-wallets {
      grid-column: 1 / 3;
      grid-row: 3;
    }

    .grid-part-block-wallets-proportion {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
    }

    .grid-part-block-make-transaction {
      grid-column: 1 / 4;
      grid-row: 4;
    }

    .grid-part-block-chart {
      grid-column: 1 / 3;
      grid-row: 6;
    }

    .grid-part-block-markets {
      grid-column: 3 / 4;
      grid-row: 6;
    }

    .grid-part-block-transactions {
      grid-column: 3;
      grid-row: 1 / 4;
    }

    .grid-part-block-upcoming-events {
      grid-column: 1 / 4;
      grid-row: 5;
    }
  }

  @media (max-width: $dashboard-breakpoint-small) {
    display: grid;
    grid-template-columns: 70fr 30fr;
    grid-template-rows: 355px 155px 150px 260px 475px 450px;
    grid-column-gap: 15px;
    grid-row-gap: 15px;

    .grid-part-block-balance {
      grid-column: 1;
      grid-row: 1;
    }

    .grid-part-block-wallets {
      grid-column: 1 / 3;
      grid-row: 2;
    }

    .grid-part-block-wallets-proportion {
      grid-column: 2 / 3;
      grid-row: 1;
    }

    .grid-part-block-make-transaction {
      grid-column: 1 / 3;
      grid-row: 3;
    }

    .grid-part-block-chart {
      grid-column: 1;
      grid-row: 6;
    }

    .grid-part-block-markets {
      grid-column: 2;
      grid-row: 6;
    }

    .grid-part-block-transactions {
      grid-column: 1 / 3;
      grid-row: 5;
    }

    .grid-part-block-upcoming-events {
      grid-column: 1 / 3;
      grid-row: 4;
    }
  }

  @media (max-width: $dashboard-breakpoint-mobile) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(auto, auto);
    grid-column-gap: 15px;
    grid-row-gap: 15px;

    .grid-part-block-balance {
      grid-column: 1;
      grid-row: 1;
    }

    .grid-part-block-wallets {
      grid-column: 1;
      grid-row: 2;
    }

    .grid-part-block-wallets-proportion {
      grid-column: 1;
      grid-row: 3;
    }

    .grid-part-block-make-transaction {
      grid-column: 1;
      grid-row: 4;
    }

    .grid-part-block-chart {
      grid-column: 1;
      grid-row: 6;
    }

    .grid-part-block-markets {
      grid-column: 1;
      grid-row: 7;
    }

    .grid-part-block-transactions {
      grid-column: 1;
      grid-row: 5;
    }

    .grid-part-block-upcoming-events {
      grid-column: 1;
      grid-row: 8;
    }
  }
}
