@import "@/styles/utils/_entry.scss";

.wrap {
  padding-top: 70px;

  .heading {
    color: #585960;
    font-size: 18px;
    font-weight: 700;
  }

  .item {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .key {
      color: #585960;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 5px;
    }

    .value {
      font-family: var(--font-medium);
      font-size: 16px;
    }
  }
}
