@import "@/styles/utils/_entry.scss";

.block-open-messages {
  display: flex;
  justify-content: center;
  margin-top: auto;

  &:not(.mobile) {
    padding: 20px 0;

    @media (max-width: $global-breakpoint-mobile - 1) {
      display: none;
    }
  }

  &.mobile {
    padding: 0;
  }

  .icon-wrap {
    display: flex;
    padding: 7px;
    margin-left: 6px;
    cursor: pointer;
    border-radius: 2px;
    transition: background-color .4s;
    @include for-light-theme(background-color, #CAC9CA);
    @include for-dark-theme(background-color, #4C4D55);

    > svg {
      fill: white;
    }

    &:hover {
      @include for-light-theme(background-color, darken(#CAC9CA, 20%));
      @include for-dark-theme(background-color, lighten(#4C4D55, 20%));
    }
  }

  .messages-count {
    height: 14px;
    margin-left: -10px;
    margin-top: -7px;
    padding: 1px 5px;
    border-radius: 50%;
    color: white;
    font-family: var(--font-bold);
    font-size: 11px;
    @include for-light-theme(background-color, #3F4048);
    @include for-dark-theme(background-color, #7AC231);
  }
}
