$global-min-width: 320px;

$color-light-theme-common-text: #1D2024;
$color-dark-theme-common-text: #FFF;
$color-light-theme-main-background: #FFF;
$color-dark-theme-main-background: #18191D;

$background-color-light-theme-box: #FFF;
$background-color-light-theme-box-active: #F1F1F1;
$main-active-color-light-theme: #2A2B31;

$background-color-dark-theme-box: #1D2024;
$background-color-dark-theme-box-active: #2A2B31;
$main-active-color-dark-theme: #7AC231;

/* breakpoints for pages */
$global-breakpoint-mobile: 576px;
$global-breakpoint-medium: 768px;
$global-breakpoint-large: 992px;
$global-breakpoint-extra-large: 1200px;

$dashboard-breakpoint-medium: 1320px;
$dashboard-breakpoint-small: 950px;
$dashboard-breakpoint-mobile: 740px;

$wallets-breakpoint-medium: 1300px;
$wallets-breakpoint-small: 800px;

$markets-breakpoint-medium: 1300px;
$markets-breakpoint-small: 800px;

$events-breakpoint-large: 1600px;
$events-breakpoint-medium: 1250px;
$events-breakpoint-mobile: 900px;

$settings-breakpoint-medium: 1100px;
$settings-breakpoint-small: 900px;

$transactions-breakpoint-extra-large: 1800px;
$transactions-breakpoint-large: 1500px;
$transactions-breakpoint-medium: 1200px;
$transactions-breakpoint-small: 800px;

$calculator-breakpoint-large: 1700px;
$calculator-breakpoint-medium: 1200px;
$calculator-breakpoint-small: 900px;
