@import "@/styles/utils/constants.scss";

@mixin for-light-theme($property, $value) {
  :not([class^="dark-theme"]) & { // Also works by default
    #{$property}: $value;
  }
}

@mixin for-dark-theme($property, $value) {
  [class^="dark-theme"] & {
    #{$property}: $value;
  }
}

@mixin global-sides-padding {
  padding-right: 40px;
  padding-left: 30px;

  @media (max-width: $global-breakpoint-large - 1) {
    padding-right: 20px;
    padding-left: 10px;
  }

  @media (max-width: $global-breakpoint-mobile - 1) {
    padding-right: 32px;
    padding-left: 32px;
  }
}

@mixin global-bottom-padding {
  padding-bottom: 20px;
}

@mixin line-clamp($line-height, $lines-count) {
  display: -webkit-box;
  -webkit-line-clamp: $lines-count;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: $line-height;
  max-height: $line-height * $lines-count;
}
