$z-index-common: 0;
$z-index-select: 1;
$z-index-side-menu-bar: 2;
$z-index-header-menu-dropdown: 3;
$z-index-side-menu-bar-mobile: 4;
$z-index-modal-overlay: 5;
$z-index-tooltip: 6;
$z-index-notifications: 7;
