@import "@/styles/utils/_entry.scss";

.wrap {
  width: 90px;
  height: 100%;
  z-index: $z-index-side-menu-bar;

  @media (max-width: $global-breakpoint-mobile - 1) {
    width: 0px;

    &.mobile-menu-opened {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(0,0,0,0.6);
      z-index: $z-index-side-menu-bar-mobile;

      .side-menu-bar {
        display: block;
        position: absolute;
        width: 170px;

        .block-menu {
          height: 100%;
        }
      }
    }
    &:not(.mobile-menu-opened) {
      .side-menu-bar {
        display: none;
      }
    }
  }

  .side-menu-bar {
    overflow-y: auto;
    position: fixed;
    width: 90px;
    height: 100%;
    display: flex;
    flex-direction: column;
    @include for-light-theme(background-color, #F1F1F1);
    @include for-dark-theme(background-color, #1D2024);

    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    .block-logo {
      display: flex;
      justify-content: center;
      padding: 30px 0 60px 0;

      @media (max-width: $global-breakpoint-mobile - 1) {
        display: none;
      }

      .logo-wrap {
        padding: 10px;
        cursor: pointer;

        > svg {
          transition: fill .4s;
          @include for-light-theme(fill, black);
          @include for-dark-theme(fill, #7AC231);

          &:hover {
            @include for-light-theme(fill, lighten(black, 50%));
            @include for-dark-theme(fill, lighten(#7AC231, 20%));
          }
        }
      }
    }

    .block-menu {
      display: flex;
      flex-direction: column;
      padding: 0;

      .mobile-items {
        margin-top: auto;
        display: none;
        @media (max-width: $global-breakpoint-mobile - 1) {
          display: block;
          margin-top: auto;
          padding-top: 20px;
        }
      }

      .item,
      .mobile-item {
        display: flex;
        text-decoration: none;
        min-height: 60px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background-color .4s;
        @include for-light-theme(color, #606166);
        @include for-dark-theme(color, #43444B);

        &:hover,
        &.active {
          @include for-light-theme(color, black);
          @include for-dark-theme(color, white);
        }

        @media (min-width: $global-breakpoint-mobile) {
          .item-desc {
            display: none;
          }
        }

        @media (max-width: $global-breakpoint-mobile - 1) {
          justify-content: flex-start;
          padding: 0 25px;

          .item-desc {
            display: inline-block;
          }
        }

        > svg {
          transition: fill .4s;
          @include for-light-theme(fill, #CAC9CA);
          @include for-dark-theme(fill, #43444B);
          @media (max-width: $global-breakpoint-mobile - 1) {
            margin-right: 10px;
          }
        }

        &.active {
          pointer-events: none;
          cursor: default;
        }

        &.active,
        &:hover {
          @include for-light-theme(background-color, white);
          @include for-dark-theme(background-color, #2A2B31);
          > svg {
            @include for-light-theme(fill, black);
            @include for-dark-theme(fill, white);
          }
        }
      }

      .mobile-item {
        height: 40px;
      }
    }
  }
}
