@import "@/styles/utils/_entry.scss";

.wrap {
  overflow-x: auto;

  .list {
    display: flex;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 5px;
      list-style: none;
      min-height: 30px;
      min-width: 30px;

      .button {
        width: 100%;
        height: 100%;
        padding: 0;
        border-radius: 2px;
        border: 1px solid;
        @include for-light-theme(border-color, #EAE8EB);
        @include for-dark-theme(border-color, $background-color-dark-theme-box-active);
        @include for-light-theme(background-color, #FFF);
        @include for-dark-theme(background-color, $background-color-dark-theme-box-active);
        font-family: var(--font-regular);
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.4px;
        @include for-light-theme(color, #A7A4A8);
        @include for-dark-theme(color, #45464C);
        transition: .4s;
        cursor: pointer;

        &.active {
          pointer-events: none;
        }

        &:hover, &.active {
          @include for-light-theme(color, #000);
          @include for-dark-theme(color, #FFF);
        }
      }
    }
  }
}
