@import "@/styles/utils/_entry.scss";

.wrap {
  width: 30%;
  max-width: 560px;

  @media (max-width: $calculator-breakpoint-small) {
    width: 100%;
    max-width: $calculator-breakpoint-small;
  }

  .block-exchange {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 50px;

    .exchange-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 8px;

      > svg:last-child {
        margin-top: 5px;
        transform: rotate(180deg);
      }
    }

    .from, .to {
      .label {
        color: #3a3c43;
        font-family: var(--font-bold);
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.26px;
        text-transform: uppercase;
      }

      .select {
        height: 36px;
        width: 180px;
      }
    }

    @media (min-width: $calculator-breakpoint-small + 1) and (max-width: $calculator-breakpoint-large) {
      grid-template-columns: 1fr;

      .exchange-icon {
        padding: 15px 0px 10px;
      }

      .from, .to {
        .select {
          width: 100%;
        }
      }
    }

    @media (max-width: $calculator-breakpoint-small) {
      grid-template-columns: 1fr;

      .exchange-icon {
        display: none;
      }

      .from, .to {
        .select {
          width: 100%;
        }
      }

      .from {
        margin-bottom: 20px;
      }
    }
  }

  .block-amount {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label {
      color: #3a3c43;
      font-family: var(--font-bold);
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.26px;
      text-transform: uppercase;
    }

    input {
      height: 80px;
      margin-top: 10px;
      padding: 20px 30px;
      border: 0;
      border-radius: 2px;
      @include for-light-theme(background-color, #F1F1F1);
      @include for-dark-theme(background-color, #2A2B31);
      @include for-light-theme(color, #2A2B31);
      @include for-dark-theme(color, #FFF);
      font-family: var(--font-light);
      font-size: 40px;
      font-weight: 300;
      letter-spacing: 0.6px;
      text-overflow: ellipsis;
    }
  }

  .block-controls {
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;

    > .item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      color: #2a2b31;
      font-size: 30px;
      font-weight: 300;
      letter-spacing: 0.45px;
      border-radius: 2px;
      border: 1px solid;
      @include for-light-theme(border-color, #EAE8EB);
      @include for-dark-theme(border-color, #2A2B31);
      @include for-light-theme(background-color, #FFF);
      @include for-dark-theme(background-color, #2A2B31);
      @include for-light-theme(color, #2A2B31);
      @include for-dark-theme(color, #FFF);
      transition: background-color .4s;
      user-select: none;
      cursor: pointer;

      &:hover {
        @include for-light-theme(background-color, darken(#FFF, 20%));
        @include for-dark-theme(background-color, lighten(#2A2B31, 20%));
      }

      &.reset-btn {
        @include for-light-theme(border-color, $main-active-color-light-theme);
        @include for-dark-theme(border-color, $main-active-color-dark-theme);
        @include for-light-theme(background-color, $main-active-color-light-theme);
        @include for-dark-theme(background-color, $main-active-color-dark-theme);
        color: #FFF;

        &:hover {
          @include for-light-theme(background-color, lighten($main-active-color-light-theme, 20%));
          @include for-dark-theme(background-color, darken($main-active-color-dark-theme, 20%));
        }
      }
    }
  }

  .block-result {
    min-height: 70px;
    padding: 20px 45px;
    overflow: hidden;
    word-break: break-all;
    margin-top: 20px;
    border-radius: 2px;
    @include for-light-theme(background-color, #F1F1F1);
    @include for-dark-theme(background-color, #2A2B31);
    @include for-light-theme(color, #2A2B31);
    @include for-dark-theme(color, #FFF);
    font-family: var(--font-light);
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0.45px;
    text-transform: uppercase;
  }
}
