@import "@/styles/utils/_entry.scss";

.wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include for-light-theme(background, $background-color-light-theme-box);
  @include for-dark-theme(background, $background-color-dark-theme-box);

  .header {
    @include for-light-theme(color, #606166);
    @include for-dark-theme(color, white);
    font-family: var(--font-medium);
    font-weight: normal;
    font-size: 18px;
  }
}
