@import "@/styles/utils/_entry.scss";

@mixin text-style {
  font-family: var(--font-regular);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.3px;
  @include for-light-theme(color, #43444B);
  @include for-dark-theme(color, #FFF);
}

.wrap {
  position: relative;
  @include text-style;

  .preview {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    height: 30px;
    width: 120px;
    border-radius: 2px;
    @include for-light-theme(background-color, #F1F1F1);
    @include for-dark-theme(background-color, #2A2B31);
    cursor: pointer;
  }

  .select-box {
    position: absolute;
    z-index: $z-index-select;
    width: 280px;
    padding: 10px;
    margin-top: 10px;
    @include for-light-theme(background-color, darken(#F1F1F1, 5%));
    @include for-dark-theme(background-color, lighten(#2A2B31, 5%));

    @media (max-width: $global-breakpoint-mobile) {
      left: 0;
    }

    .select-month {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      font-size: 16px;

      .chevron {
        @include for-light-theme(fill, #000);
        @include for-dark-theme(fill, #FFF);
        transition: fill .4s;
        cursor: pointer;

        &:hover {
          @include for-light-theme(fill, lighten(#000, 20%));
          @include for-dark-theme(fill, darken(#FFF, 20%));
        }
      }
    }

    .select-day-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      margin-top: 10px;

      .item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 0;

        &.block-weekday-name,
        &.block-weekend-name {
          font-family: var(--font-bold);
          font-size: 11px;
          font-weight: 700;
          letter-spacing: 0.4px;
          text-transform: uppercase;
        }

        &.block-weekday-name {
          @include for-light-theme(color, #3D3E43);
          @include for-dark-theme(color, #FFF);
        }

        &.block-weekend-name {
          @include for-light-theme(color, #CAC9CA);
          @include for-dark-theme(color, $main-active-color-dark-theme);
        }

        &.active, &.inactive {
          font-family: var(--font-regular);
          font-size: 11px;
          font-weight: 700;
          letter-spacing: 0.4px;
          transition: background-color .4s;
          cursor: pointer;

          &:hover, &.selected {
            @include for-light-theme(background-color, #A1A1A1);
            @include for-dark-theme(background-color, $main-active-color-dark-theme);
          }

          &.in-interval {
            @include for-light-theme(background-color, darken(#F1F1F1, 20%));
            @include for-dark-theme(background-color, lighten(#2A2B31, 20%));
          }
        }

        &.inactive:not(.in-interval):not(.selected) {
          opacity: 0.4;
        }
      }
    }
  }
}
