@import "@/styles/utils/_entry.scss";

.top-panel {
  display: flex;
  align-items: center;
  padding: 32px 0 20px;

  .row-overview {
    display: flex;
    cursor: pointer;

    .title {
      margin-right: 12px;
      color: #42434B;
      font-family: var(--font-regular);
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.35px;
      transition: color .4s;
      user-select: none;
    }

    .icon {
      display: flex;
      align-items: flex-end;
      @include for-light-theme(fill, #C7C4C8);
      @include for-dark-theme(fill, #2A2B31);
      transition: fill .4s;
    }

    &:hover {
      .title {
        color: lighten(#42434B, 30%);
      }
      .icon {
        @include for-light-theme(fill, lighten(#C7C4C8, 5%));
        @include for-dark-theme(fill, lighten(#2A2B31, 30%));
      }
    }
  }

  .row-calculator-link {
    margin-left: 5%;

    .text {
      font-family: var(--font-medium);
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.3px;
      text-decoration: none;
      @include for-light-theme(color, #2A2B31);
      @include for-dark-theme(color, $main-active-color-dark-theme);
      transition: color .4s;
      cursor: pointer;

      &:hover {
        @include for-light-theme(color, lighten(#2A2B31, 20%));
        @include for-dark-theme(color, lighten($main-active-color-dark-theme, 20%));
      }
    }
  }

  .row-enable-graph-grid {
    margin-left: auto;
    font-family: var(--font-medium);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.3px;
    @include for-light-theme(color, #2A2B31);
    @include for-dark-theme(color, $main-active-color-dark-theme);
    transition: color .4s;
    cursor: pointer;

    &:hover {
      @include for-light-theme(color, lighten(#2A2B31, 20%));
      @include for-dark-theme(color, lighten($main-active-color-dark-theme, 20%));
    }
  }

  .row-grid-look {
    display: flex;
    margin-left: 20px;

    @media (max-width: $markets-breakpoint-small) {
      display: none;
    }

    .icon {
      display: flex;
      align-items: center;
      margin-left: 5px;
      @include for-light-theme(fill, #E2E2E2);
      @include for-dark-theme(fill, #404147);
      transition: fill .4s;
      cursor: pointer;

      &.active, &:hover {
        @include for-light-theme(fill, darken(#E2E2E2, 20%));
        @include for-dark-theme(fill, lighten(#404147, 20%));
      }
    }
  }
}
