@import "@/styles/utils/_entry.scss";

.block-wallets {
  height: 100%;

  @media (max-width: $dashboard-breakpoint-medium) {
    .top-panel {
      height: 55px !important;
    }

    .list-wrap {
      height: calc(100% - 55px) !important;
    }
  }

  .top-panel {
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
    height: 70px;
    user-select: none;

    .heading {
      font-family: var(--font-regular);
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.3px;
      @include for-light-theme(color, #4A4A4A);
      @include for-dark-theme(color, #FFF);
    }

    .add-wallet {
      margin-left: auto;
      font-family: var(--font-medium);
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.3px;
      @include for-light-theme(color, #2A2B31);
      @include for-dark-theme(color, #7AC231);
      cursor: pointer;
      transition: color .4s;

      &:hover {
        @include for-light-theme(color, lighten(#2A2B31, 30%));
        @include for-dark-theme(color, lighten(#7AC231, 30%));
      }
    }
  }

  .list-wrap {
    display: flex;
    height: calc(100% - 70px);
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    .list {
      height: 100%;
      min-height: 100px;
      display: flex;

      .item {
        display: flex;
        flex-direction: column;
        border-radius: 2px;
        padding: 10px 12px 10px 15px;
        border: 1px solid;
        @include for-light-theme(border-color, #EAE8EB);
        @include for-dark-theme(border-color, #1D2024);
        @include for-light-theme(background-color, #FFF);
        @include for-dark-theme(background-color, #1D2024);
        transition: .4s;

        &.skeleton {
          @include for-light-theme(background-color, $background-color-light-theme-box-active);
          @include for-dark-theme(background-color, $background-color-dark-theme-box-active);
        }

        &:hover {
          @include for-light-theme(background-color, $background-color-light-theme-box-active);
          @include for-dark-theme(background-color, $background-color-dark-theme-box-active);
        }

        &.active {
          flex: 40%;
          min-width: 200px;
          @include for-light-theme(background-color, $background-color-light-theme-box-active);
          @include for-dark-theme(background-color, $main-active-color-dark-theme);
          pointer-events: none;

          .heading {
            .wallet-type {
              @include for-light-theme(color, #2A2B31 !important);
              @include for-dark-theme(color, #65A028 !important);
            }

            .wallet-type-icon {
              @include for-dark-theme(background-color, #65A028 !important);
              @include for-dark-theme(border-color, #65A028 !important);
            }
          }
        }

        &.inactive {
          flex: 20%;
          min-width: 120px;
          cursor: pointer;
        }

        &:not(:last-child) {
          margin-right: 15px;
        }

        .heading {
          display: flex;

          .wallet-type {
            @include for-light-theme(color, #3A3C43);
            @include for-dark-theme(color, #3A3C43);
            font-family: var(--font-bold);
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 0.26px;
            transition: color .4s;
          }

          .wallet-type-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            width: 35px;
            height: 35px;
            border-radius: 2px;
            border: 1px solid;
            @include for-light-theme(border-color, #EAE8EB);
            @include for-dark-theme(border-color, #3A3C43);
            @include for-light-theme(background-color, #FFF);
            @include for-dark-theme(background-color, #3A3C43);
            @include for-light-theme(fill, #3A3C43);
            @include for-dark-theme(fill, #FFF);
            transition: .4s;

            img {
              width: 27px;
            }
          }
        }

        .footer {
          display: flex;
          margin-top: auto;

          .wallet-name {
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 0.34px;
          }

          .wallet-value {
            margin-left: auto;
          }
        }
      }
    }
  }
}
