@import "@/styles/utils/_entry.scss";

.block-upcoming-events {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 12px 20px;
  border-radius: 2px;
  border: 1px solid;
  @include for-light-theme(background-color, $background-color-light-theme-box);
  @include for-dark-theme(background-color, $background-color-dark-theme-box);
  @include for-light-theme(border-color, #EFF0F6);
  @include for-dark-theme(border-color, $background-color-dark-theme-box);

  @media (max-width: $dashboard-breakpoint-mobile) {
    height: 260px;
  }

  .wrap {
    display: flex;
    flex-direction: column;
    height: 100%;

    .header {
      margin-bottom: 20px;
      font-family: var(--font-regular);
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.3px;
      @include for-light-theme(color, #2A2B31);
      @include for-dark-theme(color, #FFF);
      user-select: none;
    }

    .list {
      display: flex;
      flex: auto;
      flex-direction: column;
      justify-content: space-between;

      .text {
        @include line-clamp(17px, 2);
        margin-bottom: 8px;
        font-family: var(--font-regular);
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.35px;
        text-decoration: none;
        @include for-light-theme(color, #2A2B31);
        @include for-dark-theme(color, #FFF);
        transition: color .4s;
        cursor: pointer;

        &:hover {
          @include for-light-theme(color, lighten(#2A2B31, 40%));
          @include for-dark-theme(color, darken(#FFF, 40%));
        }
      }

      .block-date-and-place {
        display: flex;
        justify-content: space-between;
        padding: 0 5px;
        @include for-light-theme(color, #A7A4A8);
        @include for-dark-theme(color, #42434B);
        font-family: var(--font-regular);
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.3px;

        .date {
          width: 40%;
        }

        .place {
          max-width: 60%;
          @include line-clamp(14px, 1);
        }
      }
    }
  }
}
