@import "@/styles/utils/_entry.scss";

.modal-styles {
  width: 90% !important;
  min-height: 620px !important;
}

.wrap {
  padding: 10px 0 0 20px;

  .main-heading {
    display: flex;
    align-items: center;

    @media (max-width: $global-breakpoint-large) {
      flex-direction: column;
      align-items: flex-start;
    }

    .title {
      @include for-light-theme(color, #2A2B31);
      @include for-dark-theme(color, #FFF);
      font-size: 30px;
      font-weight: 300;
      letter-spacing: 0.45px;
    }

    .controls-range {
      display: flex;
      height: 24px;
      margin-left: 25px;

      @media (max-width: $global-breakpoint-large) {
        margin: 20px 0;
      }

      .item {
        padding: 4px 10px;
        color: #606166;
        font-family: var(--font-medium);
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.3px;
        transition: color .4s;
        cursor: pointer;

        &.active {
          border-radius: 14px;
          @include for-light-theme(background-color, #F1F1F1);
          @include for-dark-theme(background-color, #4C4D55);
          @include for-light-theme(color, #2A2B31);
          @include for-dark-theme(color, #FFF);
          cursor: default;
        }

        &:hover:not(.active) {
          @include for-light-theme(color, #000);
          @include for-dark-theme(color, lighten(#606166, 30%));
        }
      }
    }

    .row-interval {
      display: flex;
      margin-left: auto;

      @media (max-width: $global-breakpoint-mobile) {
        flex-direction: column;
      }

      @media (max-width: $global-breakpoint-large) {
        margin-left: 0;
      }

      .block-month {
        display: flex;
        align-items: center;
        margin-left: 18px;

        &:first-child {
          @media (max-width: $global-breakpoint-mobile) {
            margin: 0 0 20px;
          }
        }

        .desc {
          margin-right: 8px;
          font-family: var(--font-bold);
          font-size: 11px;
          font-weight: 700;
          letter-spacing: 0.4px;
          text-transform: uppercase;
          @include for-light-theme(color, #2A2B31);
          @include for-dark-theme(color, #FFF);
        }

        .position-for-left-calendar {
          left: 0;
        }

        .position-for-right-calendar {
          right: 0;

          @media (max-width: $global-breakpoint-mobile) {
            left: 0;
          }
        }
      }
    }

    .minimize-icon {
      display: flex;
      margin-left: 25px;
      cursor: pointer;

      @media (max-width: $global-breakpoint-large) {
        display: none;
      }

      > svg {
        fill: lighten(#43444B, 20%);
        transition: fill .4s;

        &:hover {
          @include for-light-theme(fill, #000);
          @include for-dark-theme(fill, #FFF);
        }
      }
    }
  }

  .second-heading {
    display: flex;
    align-items: center;
    padding-top: 20px;

    .block-exchange {
      @include for-dark-theme(color, #A7A4A8);
      @include for-dark-theme(color, #3A3C43);
      font-family: var(--font-bold);
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.3px;
      text-transform: uppercase;
    }

    .block-last-growth {
      margin-left: auto;
      font-family: var(--font-regular);
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.45px;

      &.neutral-growth {
        @include for-light-theme(color, #2C2D33);
        @include for-dark-theme(color, #FFF);
      }

      &.positive-growth {
        @include for-light-theme(color, #2C2D33);
        @include for-dark-theme(color, $main-active-color-dark-theme);
      }

      &.negative-growth {
        @include for-light-theme(color, #CAC9CA);
        @include for-dark-theme(color, #C11E0F);
      }
    }

    .block-last-value {
      margin-left: 15px;
      @include for-light-theme(color, #2A2B31);
      @include for-dark-theme(color, #FFF);
      font-family: var(--font-bold);
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 0.6px;
      text-transform: uppercase;

      .exchange {
        font-family: var(--font-regular);
        font-weight: 400;
      }
    }
  }

  .graph {
    padding-top: 40px;
    :global {
      .ct-line {
        stroke-width: 2px;
      }

      .ct-grid.ct-vertical {
        stroke-width: 1px;
        stroke-dasharray: none;
        @include for-dark-theme(stroke, #EAE8EB);
        @include for-dark-theme(stroke, #323235);
      }

      .ct-label {
        @include for-dark-theme(color, gray);

        &.ct-horizontal {
          margin-top: 10px;
          white-space: nowrap;
          color: #606166;
          font-family: var(--font-medium);
          font-size: 10px;
          font-weight: 500;
          letter-spacing: 0.25px;

          @media (max-width: $global-breakpoint-mobile) {
            transform: rotate(-30deg);
            margin-top: 12px;
          }
        }
      }

      .ct-grid {
        @include for-dark-theme(stroke, gray);
      }

      line.ct-point {
        stroke-width: 2px;
        padding: 0 4px;
        stroke: transparent;

        &:hover {
          stroke: #606166;
        }
      }
    }

    &.neutral {
      :global {
        .ct-line {
          @include for-light-theme(stroke, #2C2D33);
          @include for-dark-theme(stroke, #FFF);
        }
      }
    }

    &.positive {
      :global {
        .ct-line {
          @include for-light-theme(stroke, #2C2D33);
          @include for-dark-theme(stroke, $main-active-color-dark-theme);
        }
      }
    }

    &.negative {
      :global {
        .ct-line {
          @include for-light-theme(stroke, #CAC9CA);
          @include for-dark-theme(stroke, #C11E0F);
        }
      }
    }
  }
}
