@import "@/styles/utils/_entry.scss";

.wrap {
  height: 100%;
  @include for-light-theme(background-color, $background-color-light-theme-box-active);
  @include for-dark-theme(background-color, $background-color-dark-theme-box-active);

  .options-box {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;

    &.opened {
      @include for-light-theme(background-color, darken($background-color-light-theme-box-active, 10%));
      @include for-dark-theme(background-color, lighten($background-color-dark-theme-box-active, 10%));

      .chevron-icon {
        fill: lighten(#3F3F47, 30%);
      }
    }

    .selected-item {
      margin-left: 10px;
      font-family: var(--font-medium);
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.3px;
      text-transform: uppercase;
      width: calc(100% - 20px);
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .chevron-icon {
      display: flex;
      align-items: center;
      fill: #3F3F47;
      margin: 0 5px 0 auto;
      transition: fill .4s;
    }

    &:hover {
      .chevron-icon {
        fill: lighten(#3F3F47, 30%);
      }
    }
  }
}

.optionsList {
  width: 100%;
  padding: 0;
  background: inherit;
  position: relative;
  min-height: 20px;
  max-height: 135px;
  overflow: auto;
  z-index: $z-index-select;

  .item {
    font-family: var(--font-medium);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3px;
    padding: 5px 10px;
    text-decoration: none;
    @include for-light-theme(color, #2A2B31);
    @include for-dark-theme(color, #FFF);
    transition: background-color .4s;
    cursor: pointer;

    &:hover {
      @include for-light-theme(background-color, darken($background-color-light-theme-box-active, 10%));
      @include for-dark-theme(background-color, lighten($background-color-dark-theme-box-active, 10%));
    }
  }
}
