@import "@/styles/utils/_entry.scss";

.block-markets {
  height: 100%;
  width: 100%;
  padding: 15px 20px 20px 28px;
  border-radius: 2px;
  border: 1px solid;
  @include for-light-theme(border-color, #EAE8EB);
  @include for-dark-theme(border-color, $background-color-dark-theme-box-active);
  @include for-light-theme(background-color, #FFF);
  @include for-dark-theme(background-color, $background-color-dark-theme-box-active);

  .top-panel {
    display: flex;
    user-select: none;
    margin-bottom: 30px;

    .heading {
      font-family: var(--font-regular);
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.3px;
      @include for-light-theme(color, #2A2B31);
      @include for-dark-theme(color, #FFF);
    }

    .controls {
      display: flex;
      margin-left: auto;

      .item {
        margin-left: 10px;
        color: #606166;
        font-family: var(--font-bold);
        font-size: 11px;
        font-weight: 700;
        letter-spacing: 0.45px;
        text-transform: uppercase;
        transition: color .4s;
        cursor: pointer;

        &.active {
          @include for-light-theme(color, #A7A4A8);
          @include for-dark-theme(color, #FFF);
          cursor: default;
        }

        &:hover:not(.active) {
          @include for-light-theme(color, #A7A4A8);
          @include for-dark-theme(color, #FFF);
        }
      }
    }
  }

  .list {
    display: flex;
    flex-direction: column;

    .item {
      display: flex;
      height: 45px;
      margin-bottom: 10px;
      border-bottom: 1px solid;
      @include for-light-theme(border-color, #EAE8EB);
      @include for-dark-theme(border-color, #3A3C43);

      &:last-child {
        border-bottom: none;
      }

      .block-info {
        flex: 0.3;

        .first-line {
          display: flex;
          align-items: center;
          margin-bottom: 5px;
          @include for-light-theme(color, #A7A4A8);
          @include for-dark-theme(color, #606166);
          font-family: var(--font-bold);
          font-size: 10px;
          font-weight: 700;
          letter-spacing: 0.3px;
          text-transform: uppercase;

          .percentage {
            margin-left: 10px;
            color: #4C4D55;
            font-family: var(--font-regular);
            font-size: 11px;
            font-weight: 400;
            letter-spacing: 0.4px;
          }
        }

        .second-line {
          display: flex;
          @include for-light-theme(color, #3F4048);
          @include for-dark-theme(color, #FFF);
          font-family: var(--font-bold);
          font-size: 14px;
          font-weight: 700;
          letter-spacing: 0.3px;
          text-transform: uppercase;

          .paper-coin {
            margin-left: 10px;
            font-family: var(--font-regular);
            font-weight: 400;
          }
        }
      }

      .block-graph {
        flex: 0.7;

        :global {
          .ct-line {
            stroke-width: 2px;
          }

          .ct-label {
            @include for-dark-theme(color, gray);
          }

          .ct-grid {
            @include for-dark-theme(stroke, gray);
          }
        }

        &.neutral {
          :global {
            .ct-line {
              @include for-light-theme(stroke, #2C2D33);
              @include for-dark-theme(stroke, #FFF);
            }
          }
        }

        &.positive {
          :global {
            .ct-line {
              @include for-light-theme(stroke, #2C2D33);
              @include for-dark-theme(stroke, $main-active-color-dark-theme);
            }
          }
        }

        &.negative {
          :global {
            .ct-line {
              @include for-light-theme(stroke, #CAC9CA);
              @include for-dark-theme(stroke, #C11E0F);
            }
          }
        }
      }
    }
  }
}
