@import "@/styles/utils/_entry.scss";

.content {
  position: absolute;
  overflow: auto;
  border-radius: 4px;
  outline: currentcolor none medium;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid;
  @include for-light-theme(border-color, $background-color-light-theme-box-active);
  @include for-dark-theme(border-color, $background-color-dark-theme-box-active);
  @include for-light-theme(background, $background-color-light-theme-box);
  @include for-dark-theme(background, $background-color-dark-theme-box);

  min-width: $global-min-width - 40px;
  @media (min-width: $global-breakpoint-mobile) {
    width: 500px;
  }

  @media (max-width: $global-breakpoint-mobile) {
    width: calc(100% - 40px);
  }
}

.overlay {
  position: fixed;
  min-width: $global-min-width;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: $z-index-modal-overlay;
  inset: 0px;
  @include for-light-theme(background-color, transparentize($background-color-light-theme-box, 0.25));
  @include for-dark-theme(background-color, transparentize($background-color-dark-theme-box, 0.25));
}

.heading {
  display: flex;

  .title,
  .close-icon {
    display: flex;
    margin-left: auto;
  }

  .title {
    margin-bottom: 20px;
    font-family: var(--font-bold);
    font-size: 16px;
    @include for-light-theme(color, #000);
    @include for-dark-theme(color, #FFF);
  }

  .close-icon {
    fill: #85858A;
    transition: fill .4s;
    cursor: pointer;

    &:hover {
      fill: #000;
    }
  }
}
