@import "@/styles/utils/_entry.scss";

.block-make-transaction {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px 15px 20px 0;
  border-radius: 2px;
  border: 1px solid;
  @include for-light-theme(border-color, #EAE8EB);
  @include for-dark-theme(border-color, #222429);
  @include for-light-theme(background-color, #FFF);
  @include for-dark-theme(background-color, #222429);

  @media (max-width: $dashboard-breakpoint-medium) {
    padding: 20px 15px 10px 0 !important;
  }

  @media (max-width: $dashboard-breakpoint-mobile) {
    .controls {
      .btn-send {
        margin-top: 10px;
      }
    }
  }

  @media (max-width: $global-breakpoint-mobile) {
    .row-select-amount {
      flex-direction: column;

      .block-amount {
        margin-top: 10px;
      }
    }
  }

  .row-select-amount {
    display: flex;
  }

  .block-wallet-select,
  .block-amount,
  .block-send-to {
    display: flex;
    align-items: center;

    .field-name {
      font-family: var(--font-bold);
      font-size: 11px;
      font-weight: 700;
      letter-spacing: 0.41px;
      text-transform: uppercase;
      @include for-light-theme(color, #2A2B31);
      @include for-dark-theme(color, #FFF);
    }

    .input-row {
      display: flex;
      flex: auto;
      border-radius: 2px;
      height: 100%;
      border: none;
      padding: 6px 10px;
      @include for-light-theme(background-color, #F1F1F1);
      @include for-dark-theme(background-color, #2A2B31);
      @include for-light-theme(color, #2A2B31);
      @include for-dark-theme(color, #FFF);
      font-family: var(--font-regular);
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.3px;
      overflow: hidden;
    }
  }

  .block-wallet-select {
    .field-name {
      display: flex;
      justify-content: flex-end;
      margin-right: 7px;
      width: 75px;
    }

    .wrap-select {
      width: 65px;
      height: 30px;
      border-radius: 2px;
      @include for-light-theme(background-color, #F1F1F1);
      @include for-dark-theme(background-color, #2A2B31);
      @include for-light-theme(color, #2A2B31);
      @include for-dark-theme(color, #FFF);

      ul {
        width: 120px;
        scrollbar-width: thin;
      }
    }
  }

  .block-amount {
    flex: auto;

    .field-name {
      margin: 0 12px 0 20px;
    }

    .input-row {
      width: 50%;
    }
  }

  .block-send-to {
    margin-top: 15px;

    .field-name {
      display: flex;
      justify-content: flex-end;
      width: 75px;
      margin-right: 7px;
    }
  }

  .controls {
    display: flex;
    align-items: center;
    margin-top: auto;

    .btn-receive {
      margin-left: 82px;
      color: #606166;
      font-family: var(--font-medium);
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.3px;
      cursor: pointer;
      transition: color .4s;

      &:hover {
        @include for-light-theme(color, darken(#606166, 20%));
        @include for-dark-theme(color, lighten(#606166, 20%));
      }

      &[disabled] {
        cursor: not-allowed;
      }
    }

    .btn-send {
      font-family: var(--font-medium);
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.3px;
      margin-left: auto;
      padding: 4px 12px;
      border-radius: 14px;
      border: 2px solid #3f4048;
      background: inherit;
      @include for-light-theme(color, #2A2B31);
      @include for-dark-theme(color, #FFF);
      outline: 0;
      transition: color .4s;
      cursor: pointer;

      &[disabled] {
        @include for-light-theme(color, lighten(#2A2B31, 30%));
        @include for-dark-theme(color, darken(#FFF, 20%));
        cursor: not-allowed;
      }
    }
  }
}
