@import "@/styles/utils/_entry.scss";

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  @include global-sides-padding;

  .top-panel {
    display: flex;
    align-items: flex-end;
    padding: 32px 0 20px;

    .rowOverview {
      display: flex;
      cursor: pointer;

      .title {
        margin-right: 12px;
        color: #42434B;
        font-family: var(--font-regular);
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.35px;
        transition: color .4s;
        user-select: none;
      }

      .icon {
        display: flex;
        align-items: flex-end;
        @include for-light-theme(fill, #C7C4C8);
        @include for-dark-theme(fill, #2A2B31);
        transition: fill .4s;
      }

      &:hover {
        .title {
          color: lighten(#42434B, 30%);
        }
        .icon {
          @include for-light-theme(fill, lighten(#C7C4C8, 5%));
          @include for-dark-theme(fill, lighten(#2A2B31, 30%));
        }
      }
    }

    .add-news {
      margin-left: auto;
      @include for-light-theme(color, #2A2B31);
      @include for-dark-theme(color, $main-active-color-dark-theme);
      font-family: var(--font-medium);
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.3px;
      transition: color .4s;
      cursor: pointer;

      &:hover {
        @include for-light-theme(color, lighten(#2A2B31, 25%));
        @include for-dark-theme(color, lighten($main-active-color-dark-theme, 25%));
      }
    }
  }

  .grid {
    width: 100%;
    display: grid;
    grid-template-rows: 300px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-bottom: 20px;

    > .grid-block {
      height: 300px;
      border-radius: 2px;
      border: 1px solid;
      @include for-light-theme(border-color, #EAE8EB);
      @include for-dark-theme(border-color, $background-color-dark-theme-box);

      &.skeleton {
        @include for-light-theme(background-color, $background-color-light-theme-box-active);
        @include for-dark-theme(background-color, $background-color-dark-theme-box-active);
      }
    }

    .wide-block,
    .small-block,
    .tall-block {
      height: 100%;
      width: 100%;
    }

    .wide-block,
    .small-block {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      background-repeat: no-repeat;
      background-size: cover;

      .wrap-content {
        width: 100%;
        height: 20%;

        .content {
          display: flex;
          height: 100%;
          padding: 5px 15px;
          background: $background-color-dark-theme-box;

          .desc {
            flex: 0.65;
            @include line-clamp(25px, 2);
            color: #FFF;
            font-size: 16px;
            font-weight: 300;
            line-height: 25px;
            text-decoration: none;
            transition: color .4s;
            cursor: pointer;

            @media (max-width: 1000px) {
              flex: 1;
            }

            &:hover {
              color: darken(#FFF, 30%);
            }
          }

          .date {
            flex: 0.35;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-left: auto;
            color: #FFF;
            font-family: var(--font-bold);
            font-size: 12px;
            font-weight: 700;
            line-height: 31px;

            @media (max-width: 1000px) {
              display: none;
            }
          }
        }
      }
    }

    .small-block {
      background-position: center;

      .wrap-content {
        .content {
          align-items: center;

          .desc {
            flex: 1;
            padding: 0 5px;
            @include line-clamp(25px, 1);
          }

          .date {
            display: none;
          }
        }
      }
    }

    .tall-block {
      @include for-light-theme(background, #FFF);
      @include for-dark-theme(background, #1D2024);

      .img {
        height: 40%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .wrap-content {
        height: 60%;
        padding: 15px 20px;
        overflow: hidden;

        .content {
          .title {
            @include line-clamp(28px, 3);
            font-size: 20px;
            font-weight: 300;
            text-decoration: none;
            @include for-light-theme(color, #1D2024);
            @include for-dark-theme(color, #FFF);
            transition: color .4s;
            cursor: pointer;

            &:hover {
              color: lighten(#1d2024, 30%);
            }
          }

          .desc {
            margin-top: 20px;
            @include line-clamp(25px, 9);
            @include for-light-theme(color, #1D2024);
            @include for-dark-theme(color, #FFF);
            font-size: 14px;
            font-weight: 300;
          }
        }
      }
    }
  }
}
