@import "@/styles/utils/_entry.scss";

.block-balance {
  height: 100%;

  .top-panel {
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
    height: 70px;

    .row {
      display: flex;
      cursor: pointer;

      .title {
        margin-right: 12px;
        color: #42434B;
        font-family: var(--font-regular);
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.35px;
        transition: color .4s;
        user-select: none;
      }

      .icon {
        display: flex;
        align-items: flex-end;
        @include for-light-theme(fill, #C7C4C8);
        @include for-dark-theme(fill, #2A2B31);
        transition: fill .4s;
      }

      &:hover {
        .title {
          color: lighten(#42434B, 30%);
        }
        .icon {
          @include for-light-theme(fill, lighten(#C7C4C8, 5%));
          @include for-dark-theme(fill, lighten(#2A2B31, 30%));
        }
      }
    }
  }

  .wrap-content {
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    padding: 30px 22px 25px 30px;
    width: 100%;
    border-radius: 2px;
    border: 1px solid;
    @include for-light-theme(border-color, #EAE8EB);
    @include for-dark-theme(border-color, $background-color-dark-theme-box-active);
    @include for-light-theme(background-color, $background-color-light-theme-box);
    @include for-dark-theme(background-color, $background-color-dark-theme-box-active);

    @media (max-width: $dashboard-breakpoint-mobile) {
      height: 290px;
    }

    .transactions-and-wallets-count-row {
      display: flex;

      .transactions-total {
        .count {
          font-size: 34px;
          font-weight: 300;
          letter-spacing: 0.4px;
          text-decoration: none;
          @include for-light-theme(color, #1D2024);
          @include for-dark-theme(color, #FFF);
          transition: color .4s;
          cursor: pointer;

          &:hover {
            @include for-light-theme(color, lighten(#1D2024, 40%));
            @include for-dark-theme(color, darken(#FFF, 40%));
          }
        }

        .desc {
          color: #42434B;
          font-family: var(--font-regular);
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0.3px;
          @include for-light-theme(background-color, $background-color-light-theme-box);
          @include for-dark-theme(background-color, $background-color-dark-theme-box-active);
        }
      }

      .wallets-count {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        padding: 6px 8px 10px 12px;
        border-radius: 2px;
        @include for-light-theme(background-color, $background-color-light-theme-box-active);
        @include for-dark-theme(background-color, #252529);
        @include for-light-theme(color, #2A2B31);
        @include for-dark-theme(color, #FFF);
        text-decoration: none;
        transition: .4s;
        cursor: pointer;

        .count {
          display: flex;
          font-size: 34px;
          font-weight: 300;
          letter-spacing: 0.3px;
        }

        .desc {
          font-family: var(--font-regular);
          font-size: 13px;
          font-weight: 400;
          letter-spacing: 0.3px;
        }

        &:hover {
          @include for-light-theme(background-color, darken($background-color-light-theme-box-active, 10%));
          @include for-dark-theme(background-color, lighten(#252529, 20%));
        }
      }
    }

    .split-columns {
      display: flex;
      height: 100%;

      .column-balances {
        display: flex;
        flex-direction: column;
        width: 75%;
        margin-top: 32px;

        .heading {
          margin-bottom: 5px;
          color: #606166;
          font-family: var(--font-regular);
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 0.3px;
        }

        .main-item,
        .second-item {
          display: flex;

          .count {
            font-size: 48px;
            font-weight: 300;
            letter-spacing: 0.33px;
            @include for-light-theme(color, #1D2024);
            @include for-dark-theme(color, #FFF);
          }

          .desc {
            color: #3A3C43;
            font-family: var(--font-bold);
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 0.26px;
          }
        }

        .second-item {
          margin-top: 10px;

          .count {
            font-size: 36px;
            margin-right: 5px;
            overflow: hidden;
          }
        }
      }

      .column-btn-to-buy {
        margin: auto 0 0 auto;

        .btn-to-buy {
          padding: 4px 12px;
          border-radius: 14px;
          border: 2px solid;
          background: transparent;
          @include for-light-theme(border-color, #3f4048);
          @include for-dark-theme(border-color, $main-active-color-dark-theme);
          @include for-light-theme(background-color, $background-color-light-theme-box);
          @include for-dark-theme(background-color, $background-color-dark-theme-box-active);
          @include for-light-theme(color, #252529);
          @include for-dark-theme(color, #FFF);
          font-family: var(--font-medium);
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 0.3px;
          outline: 0;
          transition: .4s;
          cursor: pointer;

          &:hover {
            @include for-light-theme(background-color, $background-color-light-theme-box-active);
            @include for-dark-theme(background-color, lighten($background-color-dark-theme-box-active, 20%));
          }
        }
      }
    }
  }
}
