@import "@/styles/utils/_entry.scss";

$size-menu-bar-width: 90px;
$size-content-width: calc(100% - #{$size-menu-bar-width});
$size-content-max-width: calc(2560px - #{$size-menu-bar-width} - 500px);

.background {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;

  .main-column {
    height: 100%;
    width: $size-content-width;
    max-width: $size-content-max-width;
    margin: 0 auto;

    @media (max-width: $global-breakpoint-mobile - 1) {
      width: 100%;
    }

    .header {
      display: flex;
      height: 70px;

      @media (max-width: $global-breakpoint-mobile - 1) {
        height: 60px;
      }

      .header-left-part {
        display: flex;
        align-items: flex-end;
      }

      .header-right-part {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        position: relative;

        .wrap-notifications {
          right: 0;
          top: 85px;
          width: 500px;
          padding: inherit;
          margin: inherit;

          @media only screen and (min-width: 1700px) {
            width: 100%;
          }

          @media (max-width: $global-breakpoint-mobile - 1) {
            top: 75px;
            width: 100%;
            padding: 0 32px;
          }
        }

        @media (max-width: $global-breakpoint-mobile - 1) {
          position: initial;
          width: 0;
          padding: 0;

          > div:first-child {
            display: none;
          }
        }
      }
    }

    .content {
      width: 100%;
      height: calc(100% - 70px);

      @media (max-width: $global-breakpoint-mobile - 1) {
        height: calc(100% - 60px);
      }
    }
  }
}
