@import "@/styles/utils/_entry.scss";

.wrap {
  flex: auto;
  margin-left: 60px;

  @media (min-width: $calculator-breakpoint-small + 1) and (max-width: $calculator-breakpoint-large) {
    margin-left: 30px;
  }

  @media (max-width: $calculator-breakpoint-small) {
    margin-left: 10px;
  }

  .block-graph {
    height: 100%;
    border-radius: 2px;
    border: 1px solid;
    @include for-light-theme(background-color, #FFF);
    @include for-dark-theme(background-color, #2A2B31);
    @include for-light-theme(border-color, #EAE8EB);
    @include for-dark-theme(border-color, #2A2B31);

    .heading {
      display: flex;
      align-items: center;
      padding: 15px 15px 40px 20px;

      .wallet-type {
        display: flex;
        align-items: center;

        .coin-name {
          font-size: 20px;
          font-weight: 300;
          letter-spacing: 0.25px;
          @include for-light-theme(color, #2A2B31);
          @include for-dark-theme(color, #FFF);
        }

        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 15px;
          width: 35px;
          height: 35px;
          border-radius: 2px;
          border-style: solid;
          @include for-light-theme(border-width, 1px);
          @include for-dark-theme(border-width, 0px);
          @include for-light-theme(border-color, #EAE8EB);
          @include for-dark-theme(border-color, #3A3C43);
          @include for-light-theme(background-color, #FFF);
          @include for-dark-theme(background-color, #3A3C43);
          @include for-light-theme(fill, #3A3C43);
          @include for-dark-theme(fill, #FFF);
          transition: .4s;
        }
      }

      .block-last-value {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: auto;

        .paper-coin-id {
          @include for-light-theme(color, #CAC9CA);
          @include for-dark-theme(color, #3A3C43);
          font-family: var(--font-bold);
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 0.26px;
          text-transform: uppercase;
        }

        .amount {
          @include for-light-theme(color, #2A2B31);
          @include for-dark-theme(color, #FFF);
          font-size: 35px;
          font-weight: 300;
          letter-spacing: 0.35px;
        }
      }

      @media (max-width: $global-breakpoint-mobile) {
        flex-direction: column;
        align-items: flex-start;

        .block-last-value {
          align-items: flex-start;
          margin: 20px 0 0 0;
        }
      }
    }

    .wrap-graph {
      height: 480px;
      overflow: hidden;

      @media (min-width: $calculator-breakpoint-small) and (max-width: $calculator-breakpoint-large) {
        height: 580px;
      }

      :global {
        .ct-line {
          stroke-width: 2px;
        }

        .ct-label {
          @include for-dark-theme(color, gray);

          &.ct-horizontal {
            margin-top: 10px;
            white-space: nowrap;
            color: #606166;
            font-family: var(--font-medium);
            font-size: 10px;
            font-weight: 500;
            letter-spacing: 0.25px;
          }
        }

        .ct-grid {
          @include for-dark-theme(stroke, gray);
        }
      }

      &.neutral {
        :global {
          .ct-line {
            @include for-light-theme(stroke, #2C2D33);
            @include for-dark-theme(stroke, #FFF);
          }
        }
      }

      &.positive {
        :global {
          .ct-line {
            @include for-light-theme(stroke, #2C2D33);
            @include for-dark-theme(stroke, $main-active-color-dark-theme);
          }
        }
      }

      &.negative {
        :global {
          .ct-line {
            @include for-light-theme(stroke, #CAC9CA);
            @include for-dark-theme(stroke, #C11E0F);
          }
        }
      }
    }
  }
}
