@import "@/styles/utils/_entry.scss";

.wrap {
  @media (min-width: $settings-breakpoint-small) {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto;

    .page-wrapper {
      grid-column: 1;
      grid-row: 1 / 3;
    }

    .wrap-pages-list {
      grid-column: 2;
      grid-row: 1;
    }
  }

  @media (min-width: $global-breakpoint-mobile) and (max-width: $settings-breakpoint-small) {
    grid-template-columns: 7fr 3fr;
    grid-template-rows: auto auto;

    .page-wrapper {
      grid-column: 1;
      grid-row: 1 / 3;
    }

    .wrap-pages-list {
      grid-column: 2;
      grid-row: 1;
    }
  }

  @media (max-width: $global-breakpoint-mobile) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;

    .page-wrapper {
      grid-column: 1;
      grid-row: 2;
    }

    .wrap-pages-list {
      grid-column: 1;
      grid-row: 1;
    }

    .wrap-account-progress {
      grid-column: 1;
      grid-row: 3;
    }
  }
}

.wrap {
  width: 100%;
  min-height: 600px;
  display: grid;

  .page-wrapper {
    height: 100%;
    width: 100%;
    padding-top: 50px;
    @include global-bottom-padding;
  }

  .wrap-pages-list, .wrap-account-progress {
    display: flex;
    width: 100%;
  }

  .wrap-pages-list {
    .block-pages-list {
      position: relative;
      width: 100%;
      padding-top: 80px;

      @media (min-width: $global-breakpoint-mobile) {
        padding-top: 80px;

        .selected-item {
          display: none;
        }

        .list .item {
          margin-bottom: 35px;
        }
      }

      @media (max-width: $global-breakpoint-mobile) {
        padding-top: 40px;

        .selected-item {
          display: flex;
          width: 160px;
          height: 40px;
        }

        &:not(.opened) {
          .list {
            display: none;
          }
        }

        &.opened {
          .selected-item, .item {
            @include for-light-theme(background, #3F4048);
            @include for-dark-theme(background, #2A2B31);

            &:hover, &.active {
              @include for-light-theme(color, #FFF !important);
            }
          }

          .list {
            width: 160px;

            .item {
              padding: 10px;
              transition: .4s;

              &:hover, &.active {
                @include for-light-theme(background, lighten(#3F4048, 10%) !important);
                @include for-dark-theme(background, lighten(#2A2B31, 10%) !important);
              }
            }
          }
        }
      }

      .list {
        position: absolute;
        top: 80px;
      }

      .list .item,
      .selected-item {
        @include for-light-theme(color, #CAC9CA);
        @include for-dark-theme(color, #606166);
        font-family: var(--font-bold);
        font-size: 11px;
        font-weight: 700;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        user-select: none;
        transition: color .4s;
        cursor: pointer;

        &.active,
        &:hover {
          @include for-light-theme(color, #2A2B31);
          @include for-dark-theme(color, #FFF);
        }
      }

      .selected-item {
        align-items: center;
        margin-bottom: 0;
        font-size: 13px;

        svg {
          width: 20px;
          height: 20px;
          margin-right: 5px;
          @include for-light-theme(fill, #CAC9CA);
          @include for-dark-theme(fill, $main-active-color-dark-theme);
        }
      }
    }
  }

  .wrap-account-progress {
    @include global-bottom-padding;

    .block-account-progress {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 165px;
      margin-top: auto;
      border-radius: 2px;
      border: 1px solid;
      @include for-light-theme(border-color, #EAE8EB);
      @include for-dark-theme(border-color, #2A2B31);
      @include for-light-theme(background-color, #FFF);
      @include for-dark-theme(background-color, #2A2B31);
      user-select: none;

      @media (min-width: $global-breakpoint-mobile) {
        max-width: 300px;
      }

      .desc {
        font-family: var(--font-regular);
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.3px;
        white-space: pre-line;
        @include for-light-theme(color, #2A2B31);
        @include for-dark-theme(color, #FFF);
      }

      .bar {
        height: 16px;
        width: 80%;
        max-width: 165px;
        border-radius: 8px;
        margin: 15px 0;
        @include for-light-theme(background-color, #CAC9CA);
        @include for-dark-theme(background-color, #43444B);
        overflow: hidden;

        .bar-fill {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: auto;
          overflow: hidden;
          @include for-light-theme(background-color, #2A2B31);
          @include for-dark-theme(background-color, $main-active-color-dark-theme);
          font-family: var(--font-bold);
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 0.4px;
          color: #FFF;
        }
      }

      .update {
        font-family: var(--font-medium);
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.3px;
        @include for-light-theme(color, #CCCBCC);
        @include for-dark-theme(color, $main-active-color-dark-theme);
      }
    }
  }
}
