@import "@/styles/utils/_entry.scss";

$color-auth-page-text-main: black;
$color-auth-page-text-main-hover: #6C6C6B;
$color-auth-page-text-secondary: #6C6C6B;
$color-auth-page-text-secondary-hover: black;

$color-preview-page-text-main: white;
$color-preview-page-text-main-hover: #6C6C6B;
$color-preview-page-text-secondary: #6C6C6B;
$color-preview-page-text-secondary-hover: white;

.background {
  height: 100%;
  overflow-y: auto;

  .column {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .header {
    display: flex;
    align-items: center;
    position: relative;
    padding: 60px 10px 0;

    .wrap-notifications {
      padding-right: inherit;
      right: 0;
      top: 60px;
      width: 500px;

      @media (max-width: $global-breakpoint-medium) {
        width: 400px;
      }

      @media (max-width: $global-breakpoint-mobile - 1) {
        width: 100%;
        padding: 0 25px;
        margin-top: 40px;
      }
    }

    .block-logo {
      display: flex;
      align-items: center;

      .logo-name {
        transition: color .4s;
        color: $color-auth-page-text-main;
        font-size: 22px;
        font-weight: 300;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          color: $color-auth-page-text-main-hover;
        }
      }

      .block-languages {
        display: flex;
        align-self: end;
        margin-left: 75px;
        height: 100%;

        @media (max-width: $global-breakpoint-mobile - 1) {
          display: none;
        }

        .item {
          margin: 0 10px;
          color: #3F4048;
          font-family: var(--font-regular);
          font-size: 12px;
          font-weight: 400;
          transition: color .4s;
          cursor: pointer;

          &:hover,
          &.active {
            color: black;
          }
        }
      }
    }

    .block-header-auth {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .btn-sign-up,
      .btn-log-in {
        margin: 0 5px;
        padding: 0 20px;
        font-family: var(--font-regular);
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.1px;
        line-height: 37px;
        border: 0;
        cursor: pointer;
        transition: .4s;

        @media (max-width: $global-breakpoint-medium) {
          display: none;
        }
      }

      .btn-sign-up {
        background: transparent;
        color: $color-preview-page-text-main;

        &:hover {
          color: $color-preview-page-text-main-hover;
        }
      }

      .btn-log-in {
        background: $color-preview-page-text-main;
        color: black;

        &:hover {
          background: $color-preview-page-text-main-hover;
        }
      }

      .dropdown-menu {
        margin-left: 50px;
        cursor: pointer;

        > svg {
          fill: $color-preview-page-text-main;
          transition: fill .4s;
        }

        &:hover {
          > svg {
            fill: darken($color-preview-page-text-main, 25%);
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    padding: 40px 5px;

    @media (max-width: $global-breakpoint-mobile - 1) {
      justify-content: center;
    }

    .block-social-links,
    .block-app-service {
      .item {
        padding: 0 8px;
        transition: color .4s;
        font-family: var(--font-regular);
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
      }
    }

    .block-social-links {
      @media (max-width: $global-breakpoint-mobile - 1) {
        display: none;
      }

      .item {
        color: $color-auth-page-text-main;
        &:hover {
          color: $color-auth-page-text-main-hover;
        }
      }
    }

    .block-app-service {
      .item {
        color: $color-auth-page-text-secondary;
        &:hover {
          color: $color-auth-page-text-secondary-hover;
        }
      }
    }
  }

  &.dark-mode {
    .block-logo {
      .logo-name {
        color: $color-preview-page-text-main;
      }

      .block-languages {
        .item {
          color: $color-preview-page-text-secondary;
          transition: color .4s;

          &:hover,
          &.active {
            color: $color-preview-page-text-secondary-hover;
          }
        }
      }
    }

    .footer {
      .block-social-links {
        .item {
          color: $color-preview-page-text-main;

          &:hover {
            color: $color-preview-page-text-main-hover;
          }
        }
      }

      .block-app-service {
        .item {
          color: $color-preview-page-text-secondary;

          &:hover {
            color: $color-preview-page-text-secondary-hover;
          }
        }
      }
    }
  }
}
