@import "@/styles/utils/_entry.scss";

.input {
  padding: 12px 15px;
  font-family: var(--font-regular);
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.3px;
  text-overflow: ellipsis;
  border-radius: 2px;
  border: 0;
  outline: 0;
  @include for-light-theme(background-color, #F1F1F1);
  @include for-dark-theme(background-color, #2A2B31);
  @include for-light-theme(color, #000);
  @include for-dark-theme(color, #FFF);

  &::placeholder {
    @include for-light-theme(color, #42434B);
    @include for-dark-theme(color, #85858A);
  }
}

.button {
  padding: 10px 25px;
  font-family: var(--font-regular);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.3px;
  border-radius: 2px;
  border: 1px solid;
  @include for-light-theme(color, #2A2B31);
  @include for-dark-theme(color, #FFF);
  @include for-light-theme(border-color, #EAE8EB);
  @include for-dark-theme(border-color, $background-color-dark-theme-box-active);
  @include for-light-theme(background-color, $color-light-theme-main-background);
  @include for-dark-theme(background-color, $background-color-dark-theme-box-active);
  transition: background-color .4s;
  cursor: pointer;

  &:hover {
    @include for-light-theme(background-color, darken($color-light-theme-main-background, 10%));
    @include for-dark-theme(background-color, lighten($background-color-dark-theme-box-active, 10%));
  }
}

.tooltip-overwrite {
  z-index: $z-index-tooltip;
  @include for-light-theme(background, #1D2024);
  @include for-dark-theme(background, #FFF);
  @include for-light-theme(color, #FFF);
  @include for-dark-theme(color, #1D2024);
  white-space: pre;

  &::before {
    @include for-light-theme(border-top-color, #1D2024);
    @include for-dark-theme(border-top-color, #FFF);
  }
}
