/*! Fonts */
@font-face {
  font-family: "GT-Eesti-Pro-Text-Light";
  font-display: swap;
  src: url("/fonts/GT-Eesti-Pro-Text-Light.otf") format("opentype");
}

@font-face {
  font-family: "GT-Eesti-Pro-Text-Regular";
  font-display: swap;
  src: url("/fonts/GT-Eesti-Pro-Text-Regular.otf") format("opentype");
}

@font-face {
  font-family: "GT-Eesti-Pro-Text-Medium";
  font-display: swap;
  src: url("/fonts/GT-Eesti-Pro-Text-Medium.otf") format("opentype");
}

@font-face {
  font-family: "GT-Eesti-Pro-Text-Bold";
  font-display: swap;
  src: url("/fonts/GT-Eesti-Pro-Text-Bold.otf") format("opentype");
}

:root {
  --font-light: "GT-Eesti-Pro-Text-Light", sans-serif;
  --font-regular: "GT-Eesti-Pro-Text-Regular", sans-serif;
  --font-medium: "GT-Eesti-Pro-Text-Medium", sans-serif;
  --font-bold: "GT-Eesti-Pro-Text-Bold", sans-serif;
}
