/*! Global */
@import "@/styles/utils/_entry.scss";

:global {
  @import "@/../node_modules/bootstrap/scss/bootstrap-grid.scss";
  @import "@/../node_modules/chartist/dist/scss/chartist.scss";
  @import "@/../node_modules/chartist-plugin-tooltips-updated/dist/chartist-plugin-tooltip.scss";
}

:global {
  * {
    margin: 0;
  }

  html, body, #main {
    height: 100%;
  }

  #main {
    overflow: auto;
    @include for-light-theme(background-color, $color-light-theme-main-background);
    @include for-dark-theme(background-color, $color-dark-theme-main-background);
    @include for-light-theme(color, $color-light-theme-common-text);
    @include for-dark-theme(color, $color-dark-theme-common-text);
  }

  body {
    font-family: var(--font-light);
    font-size: 16px;
    min-width: $global-min-width;
  }

  .col-main {
    width: 75%;
    padding: 0 10px 0 30px;
  }

  .col-aside {
    width: 25%;
    padding: 0 40px 0 20px;
  }

  @media (max-width: $global-breakpoint-large - 1) {
    .col-main {
      padding: 0 10px 0 10px;
      width: 60%;
    }
    .col-aside {
      padding: 0 20px 0 10px;
      width: 40%;
    }
  }

  @media (max-width: $global-breakpoint-mobile - 1) {
    .col-main,
    .col-aside {
      padding: 0 32px;
      width: 100%;
    }
  }

  // Fix for plugin
  .chartist-tooltip {
    display: none;
  }

  .tooltip-show {
    display: block;
  }
}
