@import "@/styles/utils/_entry.scss";

.header-main-row {
  display: flex;
  width: 100%;

  @media (max-width: $global-breakpoint-mobile - 1) {
    width: 100%;
    justify-content: space-between;
  }

  .block-header-name {
    display: flex;
    align-items: center;
    @include for-light-theme(color, #2A2B31);
    @include for-dark-theme(color, white);

    .header-name {
      font-size: 24px;
      font-weight: 300;
      letter-spacing: 0.3px;
      transition: color .4s;

      &.clickable {
        cursor: pointer;
        @include for-light-theme(color, #606166);
        @include for-dark-theme(color, darken(#71727A, 10%));

        &:hover {
          @include for-light-theme(color, black);
          @include for-dark-theme(color, white);
        }
      }
    }

    .separator {
      margin-left: 5px;
      font-size: 24px;
      font-weight: 300;
      letter-spacing: 0.3px;
      @include for-light-theme(color, #606166);
      @include for-dark-theme(color, darken(#71727A, 10%));
    }

    .nested-title {
      margin-left: 5px;
      font-size: 22px;
      font-weight: 300;
      letter-spacing: 0.3px;
    }

    .mobile-block-logo {
      display: none;
      margin-right: 20px;

      @media (max-width: $global-breakpoint-mobile - 1) {
        display: block;
      }

      .logo-wrap {
        padding: 0px;
        cursor: pointer;

        > svg {
          transition: fill .4s;
          @include for-light-theme(fill, black);
          @include for-dark-theme(fill, #7AC231);

          &:hover {
            @include for-light-theme(fill, lighten(black, 50%));
            @include for-dark-theme(fill, lighten(#7AC231, 20%));
          }
        }
      }
    }
  }

  .block-search-input {
    margin-left: 5%;
    width: 245px;
    height: 35px;

    @media (max-width: $global-breakpoint-large) {
      margin-left: auto;
    }

    @media (max-width: $global-breakpoint-medium) {
      display: none;
    }

    input {
      width: 100%;
      height: 100%;
      border: 0;
      padding: 10px 35px 8px 13px;
      border-radius: 2px;
      @include for-light-theme(background-color, #F1F1F1);
      @include for-dark-theme(background-color, #2a2b31);
      color: #71727A;
      font-family: var(--font-regular);
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 0.3px;
      text-overflow: ellipsis;
    }

    .icon {
      position: relative;
      display: inline;

      svg {
        top: -1px;
        right: 8px;
        position: absolute;
        height: 18px;
        width: 18px;
        fill: #42434B;
        cursor: pointer;
        transition: .4s;

        &:hover {
          fill: lighten(#42434B, 20%);
        }
      }
    }
  }

  .block-support {
    display: flex;
    margin-left: auto;

    @media (max-width: $global-breakpoint-large) {
      display: none;
    }

    .info-btn,
    .add-btn {
      display: flex;
      align-items: center;
      height: 35px;
      border: 1px solid;
      border-radius: 2px;
      transition: background-color .4s;
      @include for-light-theme(border-color, #EAE8EB);
      @include for-dark-theme(border-color, #3F4048);
      cursor: pointer;

      &:hover {
        @include for-light-theme(background-color, #EAE8EB);
        @include for-dark-theme(background-color, lighten(#3F4048, 10%));

        .icon {
          svg {
            @include for-light-theme(fill, #606166);
            @include for-dark-theme(fill, white);
          }
        }
      }
    }

    .info-btn {
      padding: 0 15px;

      .icon {
        height: 15px;
        margin-right: 10px;

        svg {
          width: 14px;
          height: 15px;
          fill: #CAC9CA;
          transition: fill .4s;
        }
      }

      .text {
        color: #606166;
        font-family: var(--font-medium);
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.3px;
        text-decoration: none;
        transition: color .4s;
      }

      &:hover {
        .text {
          @include for-light-theme(color, #606166);
          @include for-dark-theme(color, white);
        }
      }
    }

    .add-btn {
      justify-content: center;
      margin-left: 12px;
      width: 35px;

      &:hover {
        svg {
          @include for-light-theme(fill, #606166);
          @include for-dark-theme(fill, white);
        }
      }

      > svg {
        fill: #606166;
        transition: fill .4s;
      }
    }
  }

  .mobile-header {
    display: none;

    @media (max-width: $global-breakpoint-mobile - 1) {
      display: flex;
      align-items: flex-end;
    }

    .mobile-dropdown-wrap {
      align-self: center;
      margin-left: 15px;
      cursor: pointer;

      &:hover {
        svg {
          @include for-light-theme(fill, lighten(black, 40%));
          @include for-dark-theme(fill, darken(white, 40%));
        }
      }

      svg {
        transition: .4s;
        @include for-light-theme(fill, black);
        @include for-dark-theme(fill, white);
      }
    }
  }
}
