@import "@/styles/utils/_entry.scss";

.block-chart {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 20px 30px 30px 30px;
  border-radius: 2px;
  border: 1px solid;
  @include for-light-theme(border-color, #EAE8EB);
  @include for-dark-theme(border-color, $background-color-dark-theme-box);
  @include for-light-theme(background-color, #FFF);
  @include for-dark-theme(background-color, $background-color-dark-theme-box);

  .top-panel {
    display: flex;
    margin-bottom: 30px;
    user-select: none;

    .heading {
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 0.3px;
      @include for-light-theme(color, #43444B);
      @include for-dark-theme(color, #FFF);
    }

    .controls {
      display: flex;
      height: 24px;
      margin-left: auto;

      .item {
        padding: 4px 10px;
        color: #606166;
        font-family: var(--font-medium);
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.3px;
        transition: color .4s;
        cursor: pointer;

        &.active {
          border-radius: 14px;
          @include for-light-theme(background-color, #F1F1F1);
          @include for-dark-theme(background-color, #4C4D55);
          @include for-light-theme(color, #2A2B31);
          @include for-dark-theme(color, #FFF);
          cursor: default;
        }

        &:hover:not(.active) {
          @include for-light-theme(color, #000);
          @include for-dark-theme(color, lighten(#606166, 30%));
        }
      }
    }
  }

  .graph {
    flex: auto;

    :global {
      .ct-line {
        stroke-width: 2px;
      }

      .ct-grid.ct-vertical {
        stroke-width: 1px;
        stroke-dasharray: none;
        @include for-dark-theme(stroke, #EAE8EB);
        @include for-dark-theme(stroke, #323235);
      }

      .ct-label {
        @include for-dark-theme(color, gray);

        &.ct-horizontal {
          margin-top: 10px;
          white-space: nowrap;
          color: #606166;
          font-family: var(--font-medium);
          font-size: 10px;
          font-weight: 500;
          letter-spacing: 0.25px;

          @media (max-width: $global-breakpoint-mobile) {
            transform: rotate(-30deg);
            margin-top: 12px;
          }
        }
      }

      .ct-grid {
        @include for-dark-theme(stroke, gray);
      }

      line.ct-point {
        stroke-width: 2px;
        padding: 0 4px;
        stroke: transparent;

        &:hover {
          stroke: #606166;
        }
      }
    }

    &.neutral {
      :global {
        .ct-line {
          @include for-light-theme(stroke, #2C2D33);
          @include for-dark-theme(stroke, #FFF);
        }
      }
    }

    &.positive {
      :global {
        .ct-line {
          @include for-light-theme(stroke, #2C2D33);
          @include for-dark-theme(stroke, $main-active-color-dark-theme);
        }
      }
    }

    &.negative {
      :global {
        .ct-line {
          @include for-light-theme(stroke, #CAC9CA);
          @include for-dark-theme(stroke, #C11E0F);
        }
      }
    }
  }
}
