@import "@/styles/utils/_entry.scss";

$color-auth-page-text-main: black;
$color-auth-page-text-main-hover: #6C6C6B;
$color-auth-page-text-secondary: #6C6C6B;
$color-auth-page-text-secondary-hover: black;

.background {
  height: 100%;
  background-color: white;
  background-image: url('../../assets/images/login-background.jpg');
  background-position-x: 75%;
  background-size: cover;
}

.padding-left {
  padding-left: 10px;
}

.page {
  padding-top: 30px;

  .block-auth {
    padding: 0 10px;

    .heading {
      margin-bottom: 20px;
      font-size: 40px;
      line-height: 60px;
      font-weight: 300;
    }

    .separator-under-heading {
      display: none;

      @media (max-width: $global-breakpoint-mobile - 1) {
        display: block;
        margin: 0 0 25px -25px;
        background: $color-auth-page-text-main;
        height: 3px;
        width: 75px;
      }
    }

    .msg-user-created {
      margin-bottom: 40px;
      color: #A7A4A8;
      font-size: 26px;
    }

    .block-input {
      margin-bottom: 10px;

      &.error {
        .label-error {
          opacity: 1;
        }
      }

      .label-error {
        display: block;
        font-size: 14px;
        height: 17px;
        color: #DD0426;
        transition: opacity .4s;
        opacity: 0;
      }

      input {
        width: 100%;
        padding: 10px 25px;
        border-radius: 6px;
        border: 1px solid $color-auth-page-text-main;
        outline: 0;
        color: #020303;
        font-family: var(--font-regular);
        font-size: 14px;
        line-height: 25px;
        font-weight: 400;

        ::placeholder {
          text-transform: uppercase;
        }
      }
    }

    .btn-submit {
      width: 100%;
      @media (min-width: $global-breakpoint-medium) {
        width: 75%;
      }
      @media (min-width: $global-breakpoint-large) {
        width: 50%;
      }
      height: 54px;
      margin-top: 10px;
      border: 0;
      border-radius: 6px;
      background-color: $color-auth-page-text-main;
      transition: background-color .4s;
      color: white;
      font-family: var(--font-regular);
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 400;
      cursor: pointer;

      &:hover {
        background-color: $color-auth-page-text-main-hover;
      }

      &:disabled {
        background-color: #949494;
        cursor: not-allowed;
      }
    }

    .block-forgot-password-and-sign-up {
      padding-top: 25px;
      color: $color-auth-page-text-secondary;
      font-family: var(--font-regular);
      font-size: 14px;
      font-weight: 400;

      > span {
        padding: 0 4px;
        cursor: pointer;
      }

      .sign-up {
        color: $color-auth-page-text-main;
        text-decoration: none;
        transition: color .4s;

        &:hover {
          color: $color-auth-page-text-main-hover;
        }
      }
    }
  }

  .block-statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;

    @media (max-width: $global-breakpoint-medium - 1) {
      display: none;
    }

    .main-heading {
      font-size: 42px;
      font-weight: 300;
      letter-spacing: 2px;
    }

    .secondary-heading {
      margin-top: 10px;
      color: #A7A4A8;
      font-size: 22px;
      font-weight: 300;
      letter-spacing: 1px;
    }
  }
}
